//
// Flags
//

//== Vertical Flag
//== Horizontal Flag




//== Vertical Flag
//

.flag-vertical {
	display: block;

	&:before {
		background: #FFF;
		content: '';
		height: $spacing-base;
		left: -1%;
		position: absolute;
		top: -1px;
		width: 101%;
		z-index: 10;
	}

	.flag-body {
		color: #FFF;
		margin: $spacing-base 0 0 4%;
		padding: $spacing-base $spacing-base 10% $spacing-base;
		text-align: center;
		width: 86%;

		.flag-callout {
			@include border-radius();
			color: #FFF;
			display: block;
			margin: 3px 0;
			padding: 3px 0;

			h1, h2, h3, h4, h5 { color: #FFF }
		}

		&.green-bg-base { .flag-callout { background: $green-shade-25 } }
		&.orange-bg-tint-25 { .flag-callout { background: $orange-base } }
		&.red-bg-tint-25 { .flag-callout { background: $red-base } }

		&:before {
			@include box-shadow(0, 2px, 3px);
			background: #FFF;
			content: '';
			height: $spacing-base;
			left: 0;
			margin: 0 auto;
			position: absolute;
			top: 0;
			width: 96%;
		}
	}

	.flag-triangle {
	    height: 0;
	    margin-top: -5%;
	    overflow: hidden;
	    padding-left: 50%;
	    padding-bottom: 5%;
		width: 100%;

    	&:after {
    		@include top-triangle(500px, 50px, #FFF);
    		display: block;
    		margin-left: -500px;
    	}
    }
}




//== Horizontal Flag
//

.flag-horizontal {
	display: inline-block;
	height: 3.2em;
	margin-right: -$spacing-half;
	position: relative;

	&:after {
		background: #FFF;
		content: '';
		height: 130%;
		position: absolute;
		top: -20%;
		right: -1px;
		z-index: 10;
		width: $spacing-base;
	}

	.flag-body {
		color: #FFF;
		height: 86%;
		margin-right: $spacing-base;
		overflow: hidden;
		padding-left: $spacing-2x;
		text-align: right;

		.flag-callout {
			color: #FFF;
			display: inline-block;
			margin-left: 15px;
			padding: $spacing-half $spacing-base $spacing-half 0;
			position: relative;

			h1, h2, h3, h4, h5 { color: #FFF }

			&:before {
				left: -15px;
				position: absolute;
				top: -7px;
			}
		}

		&.blue-bg-shade-25 {
			.flag-callout {
				background: $dk-blue-tint-25;

				&:before { @include left-triangle(40px, 15px, $dk-blue-tint-25) }
			}
		}

		&.red-bg-base {
			.flag-callout {
				background: $red-tint-25;

				&:before { @include left-triangle(40px, 15px, $red-tint-25) }
			}
		}

		&:before {
			@include box-shadow(-2px, 0, 2px);
			background: #FFF;
			content: '';
			height: 108%;
			margin: auto 0;
			position: absolute;
			top: -10%;
			right: 0;
			width: $spacing-base;
		}
	}

	.flag-triangle {
		height: 3.2em;
		overflow: hidden;
		position: absolute;

		&:after {
			@include right-triangle(60px, 10px, #FFF);
			float: right;
			margin-top: -45px;
		}
    }
}

.gray-bg-tint-95 {
	.flag-horizontal {
		&:after { background: $gray-tint-95 }
		.flag-body {
			&:before { background: $gray-tint-95 }
		}
		.flag-triangle {
			&:after { @include right-triangle(60px, 10px, $gray-tint-95) }
		}
	}
}
