//
// Status Donut
//

.status-donut {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-bottom: 100%;
	position: relative;
	width: 100%;

	li {
		overflow: hidden;
		position: absolute;

		div {
			@include border-radius(50%);
			background-color: $gray-tint-95;
			border: 1px solid $border-color-base;
			display: block;
			height: 200%;
			position: absolute;
			width: 200%;
		}

		&:last-child {
			@include border-radius(50%);
			background: #FFF;
			border: 1px solid $border-color-base;
			font-size: $font-size-600;
			height: 68% !important;
			left: 16%;
			line-height: 48px;
			position: absolute;
			text-align: center;
			top: 16%;
			width: 68.3% !important;
		}
	}

	&.four-sections {
		li {
			height: 50%;
			width: 50%;

			&:nth-child(1) {
				border-left: 1px solid $border-color-base;
				right: 0;
				top: 0;

				div {
					right: 0;
					top: 0;
				}
			}
			&:nth-child(2) {
				border-top: 1px solid $border-color-base;
				bottom: 0;
				right: 0;

				div {
					bottom: 0;
					right: 0;
				}
			}
			&:nth-child(3) {
				border-right: 1px solid $border-color-base;
				bottom: 0;
				left: 0;

				div {
					bottom: 0;
					left: 0;
				}
			}
			&:nth-child(4) {
				border-bottom: 1px solid $border-color-base;
				left: 0;
				top: 0;

				div {
					top: 0;
					left: 0;
				}
			}
		}
	}

	&.status-errored {
		li {
			border: none !important;

			div { background: $red-base }

			span {
				@extend .fa;
				@extend .fa-exclamation;
				color: $text-color-red;
			}
		}
	}

	&.status-archived {
		li {
			border: none !important;

			div { background: $gray-tint-35 }
		}
	}

	& + .gray-rounded-content-box {
		color: $text-color-light;
		font-size: $font-size-25;
		margin-top: $spacing-base;
		padding: $spacing-half 0;
		text-align: center;
		text-transform: uppercase;
	}

	@include responsive(laptop-screens) { li:last-child { line-height: 38px } }
	@include responsive(tablet-screens) { li:last-child { line-height: 66px } }	
	@include responsive(phone-screens) { li:last-child { line-height: 46px } }	
}