/* 

CustomTSA
---------------------------------------------------------

Main Page: Easton Bat Selector
Developer: Thomas
Last Update: 04/01/2016

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling
*/




/* Age tab selector css */ 
#tsaWrapper .topCTA {
  float: right;

}

#tab1 {
  border: solid 3px #8bea00;
	}
#tab2 {
  border: solid 3px #8bea00;
	}
#tab3 {
  border: solid 3px #8bea00;
	}
#tsaWrapper .age_data:hover {
  color: #fff !important;
}

#tsaWrapper .age_data {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease,color 0.15s ease;
  transition: all 0.3s ease,color 0.15s ease;
}

#tsaWrapper .age_data li a {
  display: inline-block;
  padding: 8px 16px;
}

#tsaWrapper .age_data li {
  float: left;
  padding-right: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#tsaWrapper .age_data a {
  text-decoration: none !important;
}
#tsaWrapper .tab1 {
   margin-right: 10px;
   background-color: #8bea00;
   color: #fff;
	}
#tsaWrapper .tab2 {
   margin-right: 10px;	
   background-color: #8bea00;
	}
#tsaWrapper .tab3 {
   background-color: #8bea00;
	}
 /***** End age tab select ****/

#tsaWrapper .pos1_text1 {
    font-family: 'Open Sans';
	font-size: 18px;
	color: #000;
	line-height: 130%;
	}
	
#tsaWrapper .pos1_text2 {
    font-family: Open Sans;
	font-size: 20px;
	line-height: 130%;
	padding-top: 10px;
	}

#tsaWrapper .league_list {
	list-style-type: none;
	}
	
#tsaWrapper .league_list li{
	margin-left: -30px;
	padding-bottom: 5px;
	font-family: Open Sans;
	font-size: 20px;
	}
	
#tsaWrapper .section-header1 {
	font-size: 24px;
    color: #333333;
    text-align: Left;
    clear: left;
    padding: 17px 0px;
    background-repeat: repeat-x;
    background-position: left;
	}
#tsaWrapper .section-header1 .header_line{
    width: 80%;
	overflow: hidden;
	vertical-align: middle;
	}
	
#tsaWrapper	.h_line { 
    margin: 10px 0;
    height: 2px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}


#tsaWrapper .selector_instructions li{
	font-family: 'Open Sans';
	font-size:18px;
	font-weight: 500;
	margin-right: 50px;
	display: inline;
	}
	
	
#tsaWrapper .age_data li {
	font-color: #fff;
	font-size: 90%;
	margin-top: 20px;
	}
	
#tsaWrapper .tab {
}

#tsaWrapper .age_data .tab1  li a:hover{
	color: #000;
	}
	
	
#tsaWrapper #tab1 {
	}
	
#tsaWrapper #tab2 {
	
	}
	
#tsaWrapper #tab3 {

	}
			
#tsaWrapper #tab1 h2 {
	font-family: 'Open Sans';
	font-size: 18px;
	color: #8bea00;
	font-weight: 600;
	}
	
#tsaWrapper #tab2 h2 {
	font-family: 'Open Sans';
	font-size: 24px;
	color: #8bea00;
	font-weight: 600;
	}
	
#tsaWrapper #tab3 h2 {
	font-family: 'Open Sans';
	font-size: 24px;
	color: #8bea00;
	font-weight: 600;
	}
	
#tsaWrapper #tab1 p {
	font-family: 'Open Sans';
	font-size: 18px;
	color: #000;
	line-height: 130%;
	padding-bottom: 5px;
	
	}
	
#tsaWrapper #tab2 p {
	font-family: 'Open Sans';
	font-size: 18px;
	color: #000;
	line-height: 130%;
	padding-bottom: 5px;
	}
	
#tsaWrapper #tab3 p {
	font-family: 'Open Sans';
	font-size: 18px;
	color: #000;
	line-height: 130%;
	padding-bottom: 5px;
	}
	
#tsaWrapper .perfect_bat_image {
    padding-left: 5px;
    padding-top: 25px;
	}
	
#tsaWrapper #input_selector p {
	font-family: 'Open Sans';
	font-size: 28px;
	color: #999999;
	padding: 10px 0px 10px -20px; 
	}
	
#tsaWrapper .selector_instructions1 {
	font-size: 20px;
	font-family: 'Open Sans';
	color: #000;
	padding: 10px 0px 10px 0px;
	}
	
#tsaWrapper .input_error {
	font-size: 20px;
	font-weight: 600;
	color: #ee3124;
	padding-top: 10px;
	padding-bottom: 10px;

}

input[type="text"] {
  display: inline;
  margin: 0px 10px 10px 5px;
  width: 20%;
  font-family: 'Open Sans';
  font-size: 20%
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
	
	/************* End age tab selector section ****************/
	
#tsaWrapper .ltwr_text {
	line-height: 180%;
	padding-right: 5px;
	font-family: 'Open Sans';
	}
	
#tsaWrapper .barrel_diameter_text {
	line-height: 180%;
	padding-right: 5px;
	font-family: 'Open Sans';
	}
	
#tsaWrapper .bat_material {
	line-height: 180%;
	padding-right: 5px;
	font-family: 'Open Sans';
	}


  /* Media quaries */

	@media screen and (max-width: 720px) {
     #tsaWrapper .age_data li {
        font-size: 65%;
    }
    #tsaWrapper .perfect_bat_image {
    margin: 0 auto;
    margin-top: 30px;
    }
    #tsaWrapper .selector_instructions li {
    	display: block;
    }
}

@media screen and (max-width: 420px) {
     #tsaWrapper .age_data li {
        font-size: 65%;
    }
    #tsaWrapper .perfect_bat_image {
    margin: 0 auto;
    }
}
