/* 

CustomTSA
---------------------------------------------------------

Main Page: Woman's Clothing
Developer: Final Vadaszy
Last Update: 10/15/15

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling
*/

#tsaWrapper .lh-90{
	line-height:90%;
}

#tsaWrapper .bp-15px{
	padding-bottom:15px;
	display:block;
}

#tsaWrapper .m-right5px{
	/*margin-right:2px;*/
	}

#tsaWrapper .bg-color-full {
	background:#ffffff;
	
	}
	
#tsaWrapper .pure-g .l-box{
		box-sizing:content-box !important;
		padding:0 !important;
		border:none;
		margin-bottom:5px !important;
		}

/*#tsaWrapper .posC1{
	top: 5%;
	left: 5%;
	}
*/