/* 

CustomTSA
---------------------------------------------------------

Main Page: Woman's Clothing
Developer: Final Vadaszy
Last Update: 10/15/15

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling
*/

#tsaWrapper .pover1 {
  position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-top: 2em;
}

#tsaWrapper .ptl1{
  top: 0;
  left: 2.5%;
}

#tsaWrapper .lh-90{
	line-height:90%;
}


#tsaWrapper .bg-color-full {
	background:#ffffff;
	
	}

#tsaWrapper .l-box.seo-text p {
	margin-bottom: 20px; 
}	

#tsaWrapper .pure-g .l-box{
		box-sizing:content-box !important;
		padding:0 !important;
		border:none;
		margin-bottom:5px !important;
		}

#tsaWrapper .logo {
	margin: 10px auto;
	}


.read-more-button {
    color: #ef2f1a;
    margin-left: 5px;
    cursor: pointer;
    background-color: #f7f7f7;
    padding: 5px;
    transition: ease all .25s;
}

@media all and (min-width: 653px) {
  #tsaWrapper nav li {
    float: left;
    width: 10%;
    text-align: center;
  }
}

@media all and (max-width: 768px) {
 #tsaWrapper .cta-button {
margin: 0;
}
}

