/* 
PureTSA
Developer: Final Vadaszy
Version: 2.3.0
Last Update:9/1/15
*/

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
@import url('customTSA.css');
@charset "UTF-8";

/* ----- Structure Classes ----- */
body #tsaWrapper, #tsaWrapper p, #tsaWrapper td, #tsaWrapper li, #tsaWrapper span, #tsaWrapper div{

    font-family: 'Open Sans', Verdana, sans-serif; 

}
/*overwrite GSI font size*/
body, p, td, li, span, div {font: 16px Verdana;}

#tsaWrapper {
	
   display: block;
   padding-top:10px;

}

/*
#tsaWrapper *:not(.fa){
	
    font-family: 'Open Sans', Verdana, sans-serif; 

}
*/



#tsaWrapper .max-1220{
	max-width: 1220px;
	display: block;
	margin: auto;
	z-index: 2;
}
#tsaWrapper #main-content{
	margin-top:675px;

}


#tsaWrapper #splash-header{

    
    z-index: 0;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    top: 0;
    position: fixed !important;
    margin:auto;
    max-width:1220px;
	
}

#tsaWrapper .pure-g .l-box {
   padding: .3em;
   position: relative;
  box-sizing: border-box;
   overflow: hidden;
   float: left;
}

/* ----- Menu Classes ----- */

#menu-container{
	height:42px;
	//padding: 0 .4em;
    //margin:0 .8em 0 .3em;
    box-sizing: border-box;

    

	
}

#sticky-horizontal-menu{
 z-index:999;
 height:40px;
 width:100%;
 max-width:1200px;
 padding:0 .3em;
 box-sizing: border-box;
 border: 1px solid #dadada;



}
#sticky-horizontal-menu .pure-menu-allow-hover:hover>.pure-menu-children {
    
    border:1px solid #dadada;
}


/* ----- Helper Classes ----- */

	/* Alignment */

#tsaWrapper .push-center{
	margin: auto;
	display:block;
}
#tsaWrapper .push-left{
	float: left;
}
#tsaWrapper .push-right{
	float: right;
}
#tsaWrapper .pover{
	position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 1em;
}
#tsaWrapper .pblock{
display: block;
	
}
#tsaWrapper .pi-block{
display: inline-block;
	
}
#tsaWrapper .ptl{
	top: 0;
	left: 3%;
}
#tsaWrapper .ptr{
	top: 0;
	right: 3%;
}
#tsaWrapper .pbl{
	bottom: 0;
	left: 3%;
}
#tsaWrapper .pbr{
	bottom: 0;
	right: 3%;
}
#tsaWrapper .p-tmarg-10{
	margin-top: 7px;
}
#tsaWrapper .pad25{
	padding:25px;
}

	/* Clears */
#tsaWrapper .clearAll{
	clear:both;
}
#tsaWrapper .clearLeft{
	clear:left;
}
#tsaWrapper .clearRight{
	clear:right;
}

	/* Background Colors */
#tsaWrapper .sa-white-bg{
	background-color: #ffffff;
	//border-right: .9em solid #f7f7f7;
}
#tsaWrapper .sa-red-bg{
	background-color: #ee3124;
}	
#tsaWrapper .sa-Dgray-bg{
	background-color: #404040;
}
#tsaWrapper .sa-Mgray-bg{
	background-color: #717171;
}	
#tsaWrapper .sa-Lgray-bg{
	background-color: #f7f7f7;
}
#tsaWrapper .sa-orange-bg{
	background-color: #cb6015;
}
#tsaWrapper .sa-green-bg{
	background-color: #a8ad00;
}
#tsaWrapper .sa-blue-bg{
	background-color: #007681;
}
#tsaWrapper .sa-yellow-bg{
	background-color: #eaaa00;
}
		
	/* Hide/Show */
	
	

/* ----- Image Handlers Classes ----- */
#tsaWrapper .hide-img{
	overflow: hidden;
}
#tsaWrapper .dyno-img{
	max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#tsaWrapper .hero-contain{
	overflow: hidden;
	
}

#tsaWrapper .hero-img{
	max-width: 100%;
    min-width:600px;
	}
.left600-img{
	max-width:100%;
    min-width:600px;
}


/* ----- Dynamic Text Classes ----- */
#tsaWrapper .l-box p, #tsaWrapper .l-box h1, #tsaWrapper .l-box h2, #tsaWrapper .l-box h3, #tsaWrapper .l-box h4{
	margin: .2em .31em;
}
#tsaWrapper .l-box .tall4to2 p, #tsaWrapper .l-box .tall4to2 h1, #tsaWrapper .l-box .4tall4to2 h2, #tsaWrapper .l-box .tall4to2 h3, #tsaWrapper .l-box .tall4to2 h4{
	margin: .2em 2em;
}
#tsaWrapper .section-header{
	font-size: 16px;
    color: #333333;
    text-align: center;
    clear: left;
    padding: 17px 0px;
    background-image: url(http://tsa.imageg.net/graphics/media/tsa/hp/template_2014/divider.gif);
    background-repeat: repeat-x;
    background-position: center;
}
#tsaWrapper .section-header span{
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 16px;
}
#tsaWrapper .tcenter{
	text-align: center;
}
#tsaWrapper .tleft{
	text-align: left;
}
#tsaWrapper .tright{
	text-align: right;
}
#tsaWrapper .text-over{
	position: absolute;
	z-index:10;
		
}
#tsaWrapper .tstatic{
	padding-left: 5%;
}
#tsaWrapper .tfw300{
	font-weight: 300;
}
#tsaWrapper .tfw400{
	font-weight: 400;
}
#tsaWrapper .tfw600{
	font-weight: 600;
}
#tsaWrapper .t1em{
	font-size: 1em;
	
}
#tsaWrapper .t1-5em{
	font-size: 1.5em;
	
}
#tsaWrapper .t2em{
	font-size: 2em;
	
}
#tsaWrapper .t2-5em{
	font-size: 2.5em;
}
#tsaWrapper .t3em{
	font-size: 2.9em;
}
	/* Text Colors */
#tsaWrapper .sa-white{
	color: #ffffff;
}
#tsaWrapper .sa-red{
	color: #ee3124;
}	
#tsaWrapper .sa-Dgray{
	color: #404040;
}
#tsaWrapper .sa-Mgray{
	color: #717171;
}	
#tsaWrapper .sa-Lgray{
	color: #f7f7f7;
}
#tsaWrapper .sa-orange{
	color: #cb6015;
}
#tsaWrapper .sa-green{
	color: #a8ad00;
}
#tsaWrapper .sa-blue{
	color: #007681;
}
#tsaWrapper .sa-yellow{
	color: #eaaa00;
}


/* ----- Button Classes ----- */

#tsaWrapper .cta-button{
	color: #ffffff;
	margin: 5px;
  	padding:10px;
	text-decoration: none;
	display: inline-block;
	z-index:10;
	font-family: 'Open Sans', Verdana, sans-serif; 
	font-size: 14px;
	font-weight: 600;
		
}
#tsaWrapper .cta-static{
	background-color: #ee3124;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	font-family: 'Open Sans', Verdana, sans-serif; 
	font-size: 14px;
	font-weight: 600;
	margin-left: 5px;
	margin-right: 5px;
	display: block;		
}
#tsaWrapper .cta-p1{
	top: 20%;
	left: 4%;
}
#tsaWrapper .cta-p2{
	top: 20%;
	left: 29%;
}
#tsaWrapper .cta-p3{
	top: 20%;
	left: 54%;
}
#tsaWrapper .cta-p4{
	top: 20%;
	left: 79%;
}
#tsaWrapper .cta-p5{
	top: 50%;
	left: 4%;
}
#tsaWrapper .cta-p6{
	top: 50%;
	left: 29%;
}
#tsaWrapper .cta-p7{
	top: 50%;
	left: 54%;
}
#tsaWrapper .cta-p8{
	top: 50%;
	left: 79%;
}
#tsaWrapper .cta-p9{
	bottom: 10%;
	left: 4%;
}
#tsaWrapper .cta-p10{
	bottom: 10%;
	left: 29%;
}
#tsaWrapper .cta-p11{
	bottom: 10%;
	left: 54%;
}
#tsaWrapper .cta-p12{
	bottom: 10%;
	left: 79%;
}
#tsaWrapper .sn-custom1{
	top: 23%;
	left: 3%;
}
#tsaWrapper .sn-custom2{
	top: 18%;
	left: 3%;	
	
}
#tsaWrapper .sn-custom3{
	top: 23%;
	right: 3%;	
	
}

/* ----- Certona ----- */
#lpjson1_rr, #lpjson2_rr{
	height:180px;
}

/* ----- Pure Adjust ----- */
html body #homePage #homepageSlot .wrap #tsaWrapper .pure-g [class *="pure-u"],#tsaWrapper .pure-g{
	letter-spacing: normal;
  	font-family: 'Open Sans', Verdana, sans-serif; 
    padding:.3em .4em;
}
#tsaWrapper a{
	text-decoration: none;
}
.pure-menu-allow-hover:hover>.pure-menu-children, .pure-menu-active>.pure-menu-children {
	z-index:15;
}
/* ----- Media Queries ----- */

@media screen and (max-width: 35.5em){
	#tsaWrapper .sn-custom2{
		top: 12%;
	}
	#tsaWrapper .t1-5em{
	font-size: 1em;
	
}

	#tsaWrapper .hide-mobile{
	display:none;
	}	

}

@media screen and (max-width: 48em){
#tsaWrapper .sn-custom2{
		top: 12%;
	}

}



@media screen and (min-width: 64em){
	
}
@media screen and (min-width: 80em){

		
	#tsaWrapper .hide-lg{
		display:none;
	}	
}


/* --- GSI Hack --- */
@media screen and (min-width: 1px) and (max-width: 5000px){

	#tsaWrapper .pure-g .l-box .sa-white span{
	color: #ffffff;
}
html body #homePage #homepageSlot .wrap #tsaWrapper .pure-g [class *="pure-u"],#tsaWrapper .pure-g{
	letter-spacing: normal;
  	font-family: 'Open Sans', Verdana, sans-serif; 
    //margin-bottom: .6em;
    padding:0 .4em;
}

	}





