//
// Base Table
//

//== Content Header
//== Alternate Row Color
//== Row Selection




%table {
	width: 100%;
	border-collapse: collapse;

	th, td { padding: $spacing-half }

	th {
		border-bottom: 1px solid $border-color-base;
		text-align: left;
		vertical-align: bottom;
	}

	td { vertical-align: top }

	.text-center th { text-align: center }
}




.base-table {
	@extend %table;

	tr {
		//== Content Header
		//

		&.content-header {
			border-bottom: 1px solid $border-color-base;

			td { background: $gray-tint-95 }
		}
	}


	//== Alternate Row Color
	//
	
	&.alternate-row-color {
		tr { 
			&:nth-child(even) {
				td { background-color: $gray-tint-95 }
			}
		}
	}


	//== Cell Borders
	//

	&.cell-borders {
		tr {
			th, td {
				border-right: 1px solid $border-color-base;
				border-bottom: 1px solid $border-color-base;

				&:last-child { border-right: none }
			}

			&.border-color-dark {
				th, td { border-bottom-color: $border-color-dark }
			}

			&:last-child {
				td { border-bottom: none }
			}
		}
	}


	//== Interactive Rows
	//

	&.interactive-rows {
		tr:hover {
			cursor: pointer;
			
			td { background-color: $interactive-color-indicator }
		}
	}


	//== Responsive
	//

	&.responsive-table {
		td {
			&:before {
				@extend %label;
				background: $gray-tint-90;
				content: attr(data-th) ":";
				display: none;
				margin: (-$spacing-half) $spacing-half (-$spacing-half) (-$spacing-half);
				padding: $spacing-half;
				text-align: right;
				width: 30%;
			}
		}

		@include responsive(phone-screens) {
			th { display: none }

			td {
				display: block;
				text-align: left;

				&:first-child { padding-top: $spacing-base }
				&:last-child { padding-bottom: $spacing-base }

				&:before { display: inline-block }
			}	
		}
	}


	//== Row Selection
	//

	&.row-selection {
		td:first-child {
			padding: 3px 0;
			text-align: center;
			width: 10px;
		}
	}


	//== Table Drawer
	//

	.table-drawer {
		background-color: darken($gray-tint-90, 10%);

		.view-only-form-blocked {
			label {
				background: $gray-tint-90;
				border-bottom-color: darken($gray-tint-90, 10%);
			}
		}
		
		td {
			.drawer-caret {
				@include top-triangle(6px, 6px, darken($gray-tint-90, 10%));
				left: 94.3%;
				position: absolute;
				top: 92px;
				z-index: 2;
			}
		}
	}
}


