//
// Pagination
//

.table-pagination {
	overflow: hidden;
	
	label {
		float: left;
		margin: .3em $spacing-2x 0 0;

		select {
			margin-left: $spacing-half;
			width: auto;
		}
	}

	ul {
		@extend %reset-list;
		float: left;
		overflow: hidden;
		padding-top: .3em;

		li {
			float: left;

			a {
				background: $gray-tint-95;
				border: 1px solid $border-color-base;
				border-right: none;
				color: $text-color-light;
				display: block;
				height: 2em;
				padding: $spacing-half 0 0 0;
				text-align: center;
				width: 2em;

				&.icon { color: #FFF }
			}

			&:first-child, &:last-child,
			&:nth-child(2), &:nth-last-child(2) {
				a { padding-top: 3px }
				.icon:before { display: block }
			}

			&:first-child, &:last-child {
				a {
					@include border-radius();
					background: $gray-tint-50;
					border-right: 1px solid $border-color-base;
					color: #FFF;
				}

				.icon:before { margin-top: 1px }
			}

			&:first-child {
				margin-right: $spacing-base;

				.icon { @extend .fa-angle-double-left }
			}
			&:last-child {
				margin-left: $spacing-base;

				.icon { @extend .fa-angle-double-right }
			}

			&:nth-child(2), &:nth-last-child(2) {
				a {
					background: $gray-tint-75;
					color: #FFF;
				}

				.icon:before { margin-top: 3px }
			}
			&:nth-child(2) {
				a { @include border-left-radius() }

				.icon { @extend .fa-chevron-left }
			}
			&:nth-last-child(2) {
				a { @include border-right-radius() }

				.icon { @extend .fa-chevron-right }
			}

			&.active {
				margin-top: -.3em;

				a {
					@include border-radius;
					background: #FFF;
					border-top: 3px solid $active-color-indicator;
					height: 2.6em;
					padding-top: floor(($spacing-half + 1));
				}
			}
		}
	}
}
