//
// Selection Table
//

.selection-table {
	@extend %table;

	th { text-align: left }

	tbody {
		tr { &:nth-child(even) { background-color: $gray-tint-95 } }

		td {
			&:first-child {
				text-align: center;
				width: $spacing-half;
			}

			.quick-action-button {
				font-size: $font-size-50;
				margin-top: -3px;
				padding: 3px;

				span {
					height: .8rem;
					width: .8rem;
				}
			}
		}
	}
}
