//
// Sorting
//

.sorting {
	@include border-radius();
	@extend %reset-list;
	border: 1px solid $border-color-base;
	overflow: hidden;

	li {
		background: $gray-tint-95;
		border-right: 1px solid $border-color-base;
		float: left;

		a {
			@extend %label;
			display: inline-block;
			height: 3.2em;
			padding: $spacing-half $spacing-base;
			position: relative;
			text-align: center;
			width: 7.8em;
		}

		&.single-line { a { padding-top: 1em } }

		&.ascending, &.descending {
			a {
				background: $active-color-indicator;
				color: #FFF;

				&:after {
					@extend .fa;
					color: $blue-tint-50;
					position: absolute;
					right: 6%;
				}
			}
		}

		&.ascending { a { &:after { @extend .#{$fa-css-prefix}-caret-up:before } } }
		&.descending { a { &:after { @extend .#{$fa-css-prefix}-caret-down:before } } }

		&:last-child { border: none }
	}
}
