<h3>Returns &amp; Warranties</h3>
<ul>
    <li class="returns"><a href="http://www.sportsauthority.com/Returns-Exchanges">Returns &amp; Exchanges</a>
    </li>
    <li class="warranty"><a href="http://www.sportsauthority.com/Warranties">Warranties &amp; Extended Service Plans</a>
    </li>
</ul>
<div class="one-third find-store first last white">
<p><a href="http://stores.sportsauthority.com/">Find a Store Near You &#187;</a></p>
<a href="http://stores.sportsauthority.com/"><img src="/cms_widgets/26/53/2653117_assets/ss-store.jpg" width="228" height="211" alt="Find a Store Near You" /></a></div>