.buttonSA{
	background-color: $sa-green; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.radius-5{
    border-radius: 5px;
//     border: 2px solid #73AD21;
}
