  .header {
        background: #8a8a8a;
      }

      .header p {
        color: #ffffff;
        margin: 0;
      }

      .header .columns {
        padding-bottom: 0;
      }

      .header .container {
        background: #8a8a8a;
        padding-top: 16px;
        padding-bottom: 16px;
      }

      .header .container td {
        padding-top: 16px;
        padding-bottom: 16px;
      }