//
// Display
//




.display-block 		    { display: 			block 			!important }
.display-inline 	    { display: 			inline 			!important }
.display-inline-block	{ display: 			inline-block 	!important }
.display-none 		    { display: 			none 			!important }

.center-block {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}



