//
// Global Header
//


//== Header Color Bar
//

.header-color-bar {
    @extend %flexbox;
    @extend %reset-list;

    li {
    	@include flex();
    	height: 3px;

	    &:nth-child(1) { background-color: $color-bar-1 }
	    &:nth-child(2) { background-color: $color-bar-2 }
	    &:nth-child(3) { background-color: $color-bar-3 }
	    &:nth-child(4) { background-color: $color-bar-4 }
	    &:nth-child(5) { background-color: $color-bar-5 }
    }
}




//== Header Layout
//

.header-wrap {
	@include split-gradient();

	height: 100px;

	@include responsive(tablet-screens) {
		@include split-gradient(50%);

		height: 68px;
	}

	@include responsive(phone-screens) {
		@include linear-gradient($gray-base, $gray-shade-25);

		height: 40px;
	}
}

.global-header {
	position: relative;
	margin: 0 auto;
	max-width: $max-app-width;

	nav {
	    border-left: 1px solid $gray-tint-10;

		ul {
			@extend %flexbox;
	    	@extend %reset-list;

	    	li {
				@extend %flexbox;
	    		@include flex(1);
				@include align-items(center);    		

	    		border-right: 1px solid $gray-tint-10;

				a {
	    			@include flex();
					color: $gray-tint-90;
					font-size: $font-size-50;
					text: {
						align: center;
						transform: uppercase;
					}
				}
	    	}
		}
	}

	a {
		.fa {
			@extend .icon-shadow;
			color: $gray-tint-50;
		}
	}
}




// Global Branding
//

.global-branding {
	background: $gray-shade-50;
	display: table;
	float: left;
	height: 100px;
	width: auto;

	.logo {
		display: table-cell;
		vertical-align: middle;
	}

	h1 {
		background: url('../images/logos/my-arrow.png') top center no-repeat;
		display: block;
		height: 29px;
		margin: 0 0 $spacing-base $spacing-3x;
		text-indent: -999em;
		width: 176px;
	}

	h2 {
		color: $gray-tint-35;
		font-size: $font-size-150;
		margin-left: $spacing-3x;
	}

	@include responsive(tablet-screens) {
		height: 34px;

		h1 {
			background: url('../images/logos/my-arrow-tablet.png') top center no-repeat;
			height: 22px;
			margin: 0 0 0 $spacing-5x;
			width: 134px;
		}

		h2 { display: none }
	}
}




// User Account
//

.user-account {
	height: 34px;
	padding: $spacing-half 0 0 $spacing-base;

	ul {
		@extend %reset-list;
		float: right;
		width: 100%;

		li {
			color: $gray-tint-90;
			float: left;
			padding: 0 $spacing-base;

			&:first-child { border-right: 1px solid $gray-tint-10 }

			.fa { font-size: $font-size-400 }

			.notifications {
				@include border-radius();
				background: $red-base;
				color: #FFF;
				display: inline-block;
				font-size: $font-size-50;
				margin: 0 $spacing-half;
				padding: 2px;
				text-align: center;
				width: $spacing-2x;
			}

			ul {
				width: 18em !important;
				left: -15em !important;
			}
		}
	}
}







// Product
//

.product-header {
	.product-title {

		h1 {
			color: #FFF;
			padding: $spacing-2x 0 0 $spacing-2x;
		}

		@include responsive(tablet-screens) {
			h1 {
				font-size: $font-size-400;
				padding: $spacing-half 0 0 $spacing-base;
			}
		}

		@include responsive(phone-screens) {
			h1 {
				font-size: $font-size-500;
				text-align: center;
				padding: $spacing-half 0 0 0;
			}
		}
	}

	.product-navigation {
		ul {
	    	height: 66px;

			.fa {
				display: block;
				font-size: $font-size-400;
				margin-bottom: $spacing-half;
			}

			li {
				&:nth-child(1).active { .fa { color: $menu-color-1 } }
				&:nth-child(2).active { .fa { color: $menu-color-2 } }
				&:nth-child(3).active { .fa { color: $menu-color-3 } }
				&:nth-child(4).active { .fa { color: $menu-color-4 } }
				&:nth-child(5).active { .fa { color: $menu-color-5 } }
				&:nth-child(6).active { .fa { color: $menu-color-6 } }
				&:nth-child(7).active { .fa { color: $menu-color-7 } }
			}
		}

		@include responsive(tablet-screens) {
			ul {
				height: 32px;

				.fa {
					display: inline !important;
					margin: 0 $spacing-half 0 0;
				}
			}
		}

		@include responsive(phone-screens) {
			background: $gray-base;
			bottom: 0;
			position: fixed;
			width: 100%;
			z-index: 200;

			nav { border-left: none }

			ul {
				height: 44px;

				li {
					&:last-child { border-right: none }
				}
			}
		}
	}
}


.global-search {
	padding: $spacing-2x $spacing-base;

	.complex-input {
		.input-group { border-color: $gray-shade-25 }
		.fa {
			color: #FFF;
			font-size: $font-size-300;
			margin-top: -$spacing-base;
			text-shadow: none;
		}
	}

}

