//
// Global Page Layout
//




//== Body
//

html, body {
	height: 100%;
	margin: 0;
}

//body { background-color: $gray-shade-50 }




//== Box Sizing Reset
//

* { box-sizing: border-box }




//== Page Wrap
//

.page-wrap {
	min-height: 100%;
	margin-bottom: -$footer-height;
	background: #FFF;

	&:after {
		content: "";
		height: $footer-height;
		display: block;
	}

	@include responsive(tablet-screens) {
		margin-bottom: -$footer-height-tablet;

		&:after { height: $footer-height-tablet }
	}

	@include responsive(phone-screens) {
		margin-bottom: -$footer-height-phone;

		&:after { height: $footer-height-phone }
	}
}




//== Content Wrap
//

.content-wrap {
	@extend .clearfix;
	margin: 0 auto;
	max-width: $max-app-width;
	padding: $spacing-base;
}



//== Scrollable Content Sections
//

.scrollable-content-sections {
	.page-wrap { height: 100% }
	.content-wrap {
		height: calc(100% - 103px - 85px);
	}
}
