//
// Global Footer
//


.footer-wrap {
	@include split-gradient(55%, $gray-base, $gray-tint-10, $gray-base);
	height: $footer-height;
	width: 100%;

	@include responsive(tablet-screens) {
		height: $footer-height-tablet;
	}

	@include responsive(phone-screens) {
		background: $gray-shade-25;
		height: $footer-height-phone;
	}
}


.global-footer {
	color: $gray-tint-35;
	max-width: $max-app-width;
	margin: 0 auto;

	.row {
		&:first-child { height: floor(($footer-height * .55)) }
		&:last-child { padding: $spacing-base }
	}

	//== Five Years Out Logo
	//

	h5 {
		background: url('../images/logos/five-years-out.png') top left no-repeat;
		float: left;
		height: 33px;
		margin: $spacing-base 0 0 $spacing-base;
		text-indent: -999em;
		width: 246px;
	}

	nav {
		float: right;

		ul {
			@extend %reset-list;

			li { border-left: 1px solid $gray-tint-25 }
		}

		&.global-footer-nav {
			ul {
				@extend %flexbox;
				height: floor(($footer-height * .55));

				li {
					@extend %flexbox;
					@include align-items(center);
		    		@include flex(1);
					@include transition(background-color);
					background-color: $gray-base;
					border-color: $gray-tint-10;
					text-transform: uppercase;

					a {
						@include flex(1);
						color: $gray-tint-75;
						text-align: center;

						.footer-icon {
							@extend .fa;
							@extend .icon-shadow;
							color: $gray-tint-50;
							font-size: $font-size-200;
							margin-right: $spacing-half;
						}
					}

					&:hover { background-color: $gray-shade-50 }

					&:last-child { border-right: 1px solid $gray-tint-10 }
				}
			}
		}

		&.global-footer-links {
			ul {
				float: right;

				li {
					float: left;
					padding: 0 $spacing-base;

					a { color: $gray-tint-35 }

					&:first-child { border-left: 0 }
				}
			}
		}
	}

	@include responsive(tablet-screens) {
		font-size: $font-size-50;

		.row {
			&:first-child { height: floor(($footer-height-tablet * .55)) }
			&:last-child { padding: $spacing-half }
		}

		h5 {
			background-image: url('../images/logos/five-years-out-tablet.png');
			height: 22px;
			margin: $spacing-half 0 0 $spacing-half;
			width: 139px;
		}

		nav {
			&.global-footer-nav {
				ul { height: floor(($footer-height-tablet * .55)) }
			}

			&.global-footer-links {
				ul { li { padding: 0 $spacing-half } }
			}
		}
	}

	@include responsive(phone-screens) {
		.row:first-child { height: auto }

		.visible-xs-inline-block {
			float: right;
			font-size: $font-size-50;
			margin: $spacing-base $spacing-half 0 0;
		}

		h5 {
			background-image: url('../images/logos/my-arrow-phone.png');
			height: 18px;
			margin: $spacing-half 0 0 $spacing-half;
			width: 109px;
		}
	}
}
