//
// Global Navigation
//

//== Navicon (Hamburger Icon for Mobile)
//

.navicon {
	@extend .fa;
	@extend .fa-bars;
	position: fixed;
	left: 15px;
	display: none;
	color: $gray-tint-75;
	font-size: $font-size-500;
	top: 8px;
	z-index: 100;

	@include responsive(tablet-screens) { display: block }	
	@include responsive(phone-screens) { display: block }	
}




.global-navigation {

	li.drop-down-menu {
		@include transition(all);
		position: relative;

		.icon {
			@extend .fa-caret-down;
			margin-left: $spacing-half;
		}

		a {
			color: $gray-tint-90;
			font-size: $font-size-50;
			text: {
				align: center;
				transform: uppercase;
			}
		}

		ul {
			@include border-bottom-radius();
			@include box-shadow(0, 1px, 3px, $gray-shade-25);
			@include transition(all);
			background: $gray-base;
			display: block;
			left: 0;
			max-height: 0;
			overflow: hidden;
			position: absolute;
			top: 100%;
			width: 130%;
			z-index: 400;

			li {
				border-right: none;
				float: none;
				display: block;
				padding: $spacing-base;

				&:hover {
					background: $gray-tint-90;

					a { color: $text-color-base }
				}
			}
		}

		&.active {
			background: $gray-shade-50;

			ul {
				background: $gray-shade-50;
				max-height: 100em;
			}
		}
	}


	nav {
	    @include transition(all);

		ul:first-child {
			height: 34px;

			> li:first-of-type {
				display: none;

				@include responsive(phone-screens) { display: block }
			}
		}

		ul {

	    	li {
	    		.nav-icon {
					@extend .fa;
					@extend .icon-shadow;
					color: $gray-tint-50;
					display: none;
					font-size: $font-size-400;
					width: 1.6em;
				}

				u { text-decoration: none }

				&:nth-child(1).active { .nav-icon { color: $menu-color-1 } }
				&:nth-child(2).active { .nav-icon { color: $menu-color-2 } }
				&:nth-child(3).active { .nav-icon { color: $menu-color-3 } }
				&:nth-child(4).active { .nav-icon { color: $menu-color-4 } }
				&:nth-child(5).active { .nav-icon { color: $menu-color-5 } }
				&:nth-child(6).active { .nav-icon { color: $menu-color-6 } }
				&:nth-child(7).active { .nav-icon { color: $menu-color-7 } }
	    	}
		}

		@include responsive(tablet-screens) {
			border-left: none;

			ul:first-child {
				@include transition(width, .3s);
				background: $gray-shade-50;
				display: block;
				height: 100% !important;
				left: 0;
				overflow: hidden;
				position: absolute;
				width: 0;
			}

			li.drop-down-menu {
				@include transition(opacity, 1s);
				border-right: none;
				display: block;
				opacity: 0;
				padding: $spacing-base;

				.nav-icon { display: inline-block }

				ul {
					margin-top: $spacing-half;
					position: relative;
					top: 0;
					width: 100% !important;

					li { padding-left: $spacing-2x }
				}
			}

			&.active {
				background-color: rgba(40, 46, 48, 0.7);
				height: calc(100% - 34px) !important;
				left: 0;
				position: fixed;
				top: 34px;
				width: 100%;
				z-index: 1000;

				ul:first-child {
					width: 37.5%;
					padding-top: 10px;

					li { opacity: 1 }
				}
			}
		}


		@include responsive(phone-screens) {
			border-left: none;

			ul:first-child {
				@include transition(width, .3s);
				background: $gray-shade-50;
				display: block;
				height: 100% !important;
				left: 0;
				overflow: hidden;
				position: absolute;
				width: 0;
			}

			li {
				@include transition(opacity, 1s);
				border-right: none;
				opacity: 0;
				padding: $spacing-base;
				display: block;

				.nav-icon { display: inline-block !important }
			}

			li.drop-down-menu {
				u {
					@include transition(opacity, 1s);
					border-bottom: 1px solid $gray-shade-25;
					left: 5.5em;
					opacity: 0;
					padding-bottom: $spacing-base;
					position: fixed;
					text-align: left;
					top: 57px;
					width: 19em;
					z-index: 500;
				}

				ul {
					height: calc(100% - 42px);
					left: 4em;
					opacity: 0;
					padding-top: $spacing-4x;
					position: fixed;
					top: 42px;
					width: 0;
				}

				.icon { display: none }

				&.active {
					background: $gray-base;

					u { opacity: 1 }

					ul {
						background: $gray-base;
						opacity: 1;
						width: 20em;
					}
				}
			}

			&.active {
				background-color: rgba(40, 46, 48, 0.7);
				height: calc(100% - 34px) !important;
				left: 0;
				position: fixed;
				top: 42px;
				width: 100%;
				z-index: 1000;

				ul:first-child {
					width: 4em;
					padding-top: 10px;

					li {
						opacity: 1;

						li { width: 20em }
					}
				}
			}
		}
	}
}
