//
// Grid Layout
//


//== Grid Elements
	//## Columns
	//## Row

//== Grid Sizing
	//## Extra Small
	//## Small
	//## Medium
	//## Large

//== Print Utilities




//== Grid Elements
//

//## Columns

@include make-grid-columns;


//## Row

.row { @extend .clearfix }




//== Grid Sizing

//## Extra Small Grid

@include make-grid(xs);


//## Small Grid

@media (min-width: $screen-sm) { @include make-grid(sm) }


//## Medium Grid

@media (min-width: $screen-md) { @include make-grid(md) }


//== Large Grid

@media (min-width: $screen-lg) { @include make-grid(lg) }




//== Print Utilities
//

@include responsive-invisibility('.visible-print');

@media print { @include responsive-visibility('.visible-print') }

.visible-print-block {
	display: none !important;

	@media print { display: block !important }
}

.visible-print-inline {
	display: none !important;

	@media print { display: inline !important }
}

.visible-print-inline-block {
	display: none !important;

  	@media print { display: inline-block !important }
}

@media print { @include responsive-invisibility('.hidden-print') }

