//
// Positioning
//




.position-absolute 	{ position: 		absolute 		!important }
.position-relative 	{ position: 		relative 		!important }
.position-static 	{ position: 		static   		!important }


//== Floats
//

.float-right		{ float: 			right 			!important }
.float-left 		{ float: 			left 			!important }
.clear-floats 		{ clear: 			both			!important }
.clear-left			{ clear: 			left 			!important }
.clear-right		{ clear: 			right 			!important }

.clearfix {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after { clear: both }
}


//== Z-index
//

.z-index-100 { z-index: 100 }
.z-index-200 { z-index: 200 }
.z-index-300 { z-index: 300 }
.z-index-400 { z-index: 400 }
.z-index-500 { z-index: 500 }



