.confirmation-lightbox {
	@include border-radius();
	@include box-shadow();
	@include transition(margin-top);
	background: #FFF;
	left: 50%;
	overflow: hidden;
    padding: $spacing-2x;
	margin-left: floor((-$grid-column-5 / 2));
	margin-top: -100em;
	position: absolute;
	width: $grid-column-5;

	@include responsive(phone-screens) {
		left: 0;
		margin-left: 0;
		width: 100%;
	}

	&.launch-lightbox { margin-top: 20% }

	h2 {
		color: $dk-blue-base;
		font-family: $font-header-light;
		font-size: $font-size-400;
		margin-bottom: $spacing-base;
	}

	.button-row { button { margin-right: $spacing-base } }
}