//
// status spinnder color
//
$width: 100px;
$zoom: 0.5;


.loader {
  position: relative;
  margin: 0px auto;
  width: $width;
  height: $width;
  zoom: $zoom;
}

.circular {
 animation: rotate 3s linear infinite;
 height: $width;
 position: relative;
 width: $width;
}


.path {
  stroke-dasharray: 2,700;
  stroke-dashoffset: 0;
  animation: 
   dash 1.2s ease-in-out infinite,
    color 7s ease-in-out infinite;
  stroke-linecap: round;
  
   
  
}

@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}
@keyframes color{
	
  100%, 0%{
    stroke: $red-base;
  }
  40%{
    stroke: $blue-base ;
  }
  66%{
    stroke: $green-base;
  }
  80%, 90%{
    stroke: $yellow-base;
  }
}