//
// Status Spinner
//


@-webkit-keyframes spinner-rotate {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner-rotate {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner-dash {
	0%{
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50%{
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35;
	}
	100%{
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124;
	}
}
@keyframes spinner-color {
	100%, 0% { stroke: $red-base }
	40% { stroke: $blue-base }
	66% { stroke: $green-base }
	80%, 90% { stroke: $gold-base }
}




.spinner-container {
	height: 26px;
	width: 26px;

	svg { margin: -37px }
}

.spinner-lightbox {
	@extend %background-dim;

	&.launch-spinner {
		height: 100%;
		opacity: 1;

		.spinner-container { opacity: 1 }
	}

	.spinner-container {
		@include transition(opacity);
		height: 33px;
		left: 50%;
		margin: -14px 0 0 -14px;
		opacity: 0;
		position: absolute;
		top: 50%;
		width: 33px;

		svg { margin: -34px }
	}

	.spinner-path { stroke: $gray-tint-35 }
}




.status-spinner {
	-webkit-animation: spinner-rotate 1s infinite linear;
	animation: spinner-rotate 1s infinite linear;
	height: 100px;
	position: relative;
	width: 100px;
}

.spinner-color {
	stroke-dasharray: 2,700;
	stroke-dashoffset: 0;
	animation: 
		spinner-dash 1.2s ease-in-out infinite,
		spinner-color 7s ease-in-out infinite;
	stroke-linecap: round;
}

.spinner-path { stroke: $gray-tint-75 }



// VERSION 1 - GRAY

.spinner {
	@include border-radius(50%);
	-webkit-animation: spinner-rotate .7s infinite linear;
	animation: spinner-rotate .7s infinite linear;
	border: solid 2px;
	border-color: #FFF rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3);
	height: 30px;
	left: 50%;
	margin: -15px 0 0 -15px;
	position: absolute;
	top: 50%;
	width: 30px;
}

