//
// User Messaging
//

//== Success Message
//== Error Message




%user-message {
	@extend .rounded-content-box;
	padding: $spacing-base;

	.message-icon {
		@extend .icon;
		margin: 0 $spacing-half 0 0;
	}

	.close {
		@extend .fa;
		@extend .fa-times;
		float: right;
		font-size: $font-size-200;
	}

	.message {
		display: block;
		padding: $spacing-base 0;

		&:first-of-type { border-top: none }
		&:last-of-type { padding-bottom: 0 }
	}

	strong { font-family: $font-header-light }
	strong, .message-icon { font-size: $font-size-300 }
}

.fixed-message-container {
	position: fixed;
	top: -50em;
	right: 2em;
	width: 25em;
	z-index: 200;

	.error-message,
	.success-message {
		@include transition(all);
		border: none;
		color: #FFF;
		margin-bottom: $spacing-base;
		max-height: 0;
		opacity: 0;

		strong, .message-icon { color: #FFF }

		&.active {
			@include box-shadow(-1px, 1px, 5px, $gray-tint-35);
			max-height: 100em;
			opacity: 1;
		}
	}

	.error-message { background: $red-base }

	.success-message { background: $green-base }

	&.active { top: 5em }
}



//== Error Message
//

.error-message {
	@extend %user-message;
	background: $red-tint-95;
	border-color: $red-tint-50 !important;

	strong, .message-icon { color: $text-color-red }

	.close { color: lighten($red-tint-50, 10%) }

	.message { border-top: 1px solid $red-tint-25 }

	.message-icon { @extend .fa-exclamation-circle }


	ul {
		@extend .list;
		color: $text-color-red;
		margin-top: $spacing-base;

		li { margin: $spacing-half 0 }

		a {
			color: $text-color-red;
			text-decoration: underline;
		}
	}
}



//== Informational Message
//

.informational-message {
	@extend %user-message;
	background: $gold-tint-95;
	border-color: $gold-tint-50 !important;

	.close { color: lighten($gold-tint-50, 5%) }

	.message-icon {
		@extend .fa-comment-o;
		color: $text-color-gold;
	}
}




//== Success Message
//

.success-message {
	@extend %user-message;
	background: $green-tint-95;
	border-color: $green-tint-50 !important;

	strong, .message-icon { color: $text-color-green }

	.message-icon { @extend .fa-check-circle }

	.close { color: lighten($green-tint-50, 5%) }
}

