/* 

CustomTSA
---------------------------------------------------------

Main Page:Champion
Developer: Donkey John Jr.d
Last Update: 3/15/16

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling

*/

body #tsaWrapper{
    background-color:#ffffff;
}

#tsaWrapper .pure-g .l-box{
		box-sizing:content-box !important;
		padding:0 !important;
		border:none;
		margin-bottom:5px !important;
		}

#tsaWrapper .lh-90{
	line-height:90%;
}

#tsaWrapper .bp-15px{
	padding-bottom:15px;
	display:block;
}

#tsaWrapper .m-right5px{
	margin-right:5px;
	}
	
   #tsaWrapper .m-bottom25px{
	margin-bottom:25px;
	}
   #tsaWrapper .m-bottom50px{
	margin-bottom:50px;
	}       

#tsaWrapper .p-right5px{
	padding-right:5px;
	}
#tsaWrapper .p-left5px{
	padding-left:5px;
	}	
	
#tsaWrapper .p-right10px{
	padding-right:10px;
	}
#tsaWrapper .p-left10px{
	padding-left:10px;
	}	

#tsaWrapper .push-center{
	margin-left:auto;
	margin-right:auto;
	display:block;
	}	
	
	
	
#tsaWrapper .right5-bottom5{
 right:5px;
 bottom:3px;
 }

#tsaWrapper .bg-color-full {
	background:#ffffff;
	}
	
#tsaWrapper .height-350{
	height:350px;
	}
		


#tsaWrapper .section-header-2 {
    font-size: 2.0em;
    font-family:'open sans', Verdana, Geneva, sans-serif; 
    color:#686666; 
    border-bottom: 1px solid #686666;
    line-height: 24px;
   font-weight:800;
   text-align: left;
   margin-bottom: 30px;
   clear: left;
   padding: 30px 0px 0px;
   font-style: italic;  
}

/* Font Treatments */
		
#tsaWrapper .text-style-200{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:200;
}	

#tsaWrapper .text-style-400{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:400;
}

#tsaWrapper .text-style-800{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:800;
}

#tsaWrapper .text-style:hover{
	color:#000000; 
	}

#tsaWrapper .lineheight180{
   line-height:180%;
}

#tsaWrapper .lineheight160{
   line-height:160%;
}

#tsaWrapper .font-size9em{
	font-size:.98em;
	}
	
#tsaWrapper .font-size8em{
	font-size:.88em;
	}

#tsaWrapper .font-size7em{
	font-size:.7em;
	}
	
#tsaWrapper .font-size1em{
	font-size:1em;
	}	
	
#tsaWrapper .tech-copy{
    font-size: 1.3em; 
    line-height: 180%;
    font-weight: 200;
    word-break: keep-all;
    width:350px;
    float:right;
    color:#686666; 
}
#tsaWrapper .underline{
	text-decoration:underline;
}	
	
	
	
#tsaWrapper .l-box h4{
margin-left:0px;
}	
	

#tsaWrapper .posC1{
top: 5%;
left: 5%;
}

#tsaWrapper .pinkcTa a{
    border:2px solid;
    padding:5px 10px;
    margin-top:-50px;
    margin-left: 250px;
    font-size:15px;
    border-radius:1px;
}
#tsaWrapper .pinkBtn{
    position: absolute;
    border-color:#be3287 !important; 
    color:#be3287;
}
#tsaWrapper .pinkBtn:hover{
     background-color:#be3287;
     color:#fff;}

#tsaWrapper .greencTa a{
    border:2px solid;
    padding:5px 10px;
    margin-top:-50px;
    margin-left: 85px;
    font-size:15px;
    border-radius:1px;
}
#tsaWrapper .greenBtn{
    position: absolute;
    border-color:82b56c !important; 
    color:#82b56c;
}
#tsaWrapper .greenBtn:hover{
     background-color:#82b56c;
     color:#fff;}

#tsaWrapper .bluecTa a{
    border:2px solid;
    padding:5px 10px;
    margin-top:-50px;
    margin-left: 250px;
    font-size:15px;
    border-radius:1px;
}
#tsaWrapper .blueBtn{
    position: absolute;
    border-color:#6a99d1 !important; 
    color:#6a99d1;
}
#tsaWrapper .blueBtn:hover{
     background-color:#6a99d1;
     color:#fff;}


#tsaWrapper .rightBtn{
    border-color:#4c4d4f !important; 
    color:#4c4d4f;
    border:2px solid;
    padding:5px 10px;
    font-size:15px;
    border-radius:1px;
    clear: both;
    display: block;
    float:left;
    margin-left:50px;
}
#tsaWrapper .rightBtn:hover{
     background-color:#4c4d4f;
     color:#fff;}


#tsaWrapper .leftBtn{
    border-color:#4c4d4f !important; 
    color:#4c4d4f;
    border:2px solid;
    padding:5px 10px;
    font-size:15px;
    border-radius:1px;
    clear: both;
    display: block;
    float:left;
    margin-left:50px;
}
#tsaWrapper .leftBtn:hover{
     background-color:#4c4d4f;
     color:#fff;}


#tsaWrapper .nine-nine-percent{
Width: 99%;
}


#tsaWrapper .hero-bg{
 background:url(../images/hero-bg.jpg) #fff no-repeat fixed center top;
 padding:0;
 background-size: 100% auto;
 width: 100%;
 min-height: 620px;
 overflow-x: hidden;
 border-bottom: 1px #dbdbdb solid;
 }
 
#tsaWrapper .copy-block {
	float:left;
        clear: both;
        display: block;
        margin: 25% 0 0 0;
        max-width: 700px;
	}
	
#tsaWrapper .pure-s {
	background:#ddd;
	}
	
#tsaWrapper .logo-margin{
     margin-left:-7px;
     margin-top:25px;
}

#tsaWrapper .tech-img-l{
    min-width: 814px;
    background: url(../images/tech-bg-l.png) bottom left no-repeat;
   
}

#tsaWrapper .tech-copy-l{
    width: 406px;
    min-height: 520px;
    background: url(../images/tech-bg-l.png) bottom right no-repeat;
    margin-left:77px;
}

#tsaWrapper .tech-img-r{
    min-width: 814px;
    background: url(../images/tech-bg-r.png) bottom right no-repeat;
    margin-left: -4px;
}

#tsaWrapper .tech-copy-r{
    width: 406px;
    min-height: 520px;
    background: url(../images/tech-bg-r.png) bottom left no-repeat;
}

/* Drop Down Nav */
#tsaWrapper .menu{
    z-index: 1
}
#tsaWrapper label {
  cursor: pointer;
}
#tsaWrapper #menu-toggle {
  display: none; /* hide the checkbox */
}
#tsaWrapper #menu {
  display: none;
}
#tsaWrapper #menu-toggle:checked + #menu {
    position: absolute;
    z-index: 1;
  background:#0eaac6;
  list-style: none;
  display: block;
  width: 120px;
  text-align: left;
 padding: 15px; 
 margin-top: -31px;
 margin-left: -95px;
  border:3px solid #0eaac6;
  border-radius:3px;
}

 #menu li {
   padding:10px;
 }
 #menu li a{
    color:#fff;        
    font-style: italic; 
    font-family:'open sans', Verdana, Geneva, sans-serif; 
    text-align: left;
}



@media only screen and (min-width: 2000px) {
    #tsaWrapper .copy-block {
	float:left;
        clear: both;
        display: block;
        margin: 35% 0 0 0;
        max-width: 700px;
	
    }
}
	
@media all and (max-width: 1030px) {

    
#tsaWrapper .copy-block {
	background:#f7f7f7; 
	opacity:.9;  
	 
	margin-top: 15%;
	border:thin #e9e9e9 solid;
	width:100%;
	padding:10px;
	}
        
   #tsaWrapper .tech-img-l{
    width: 100%;
    background: url(../images/tech-bg-l.png) bottom left no-repeat;
   margin-right: -4px;
   overflow: hidden;
}

#tsaWrapper .tech-copy-l{
    width: 100%;
    min-height: 520px;
    background: url(../images/tech-bg-l.png) bottom right no-repeat;
    margin-left:0px;
}

#tsaWrapper .tech-img-r{
    width: 100%;
    background: url(../images/tech-bg-r.png) bottom right no-repeat;
    margin-left: -4px;
       overflow: hidden;
}

#tsaWrapper .tech-copy-r{
    width: 100%;
    min-height: 520px;
    background: url(../images/tech-bg-r.png) bottom left no-repeat;
}

#tsaWrapper .hero-bg {
	background: #fff;
        min-height: 0px;
	}

          #tsaWrapper .tech-copy{
       margin-top:25px; 
       margin-left:15px;
       float: left;
    }
}


@media all and (max-width: 900px) {
    #tsaWrapper .champProdimg{
        width: 100%;
    }
}
@media all and (max-width: 680px) {

    #tsaWrapper .tech-copy{
       margin-top:25px; 
       margin-left:15px;
       float: left;
    }
        
     #tsaWrapper .greencTa a{
    margin-top:-50px;
    margin-left: 15px;
     }
     
    #tsaWrapper .pinkcTa a{
    margin-top:-50px;
    margin-left: 15px;
     }
     
     #tsaWrapper .bluecTa a{
   
    margin-top:-50px;
    margin-left: 15px;
    
}
}
