//
// Color Palette
//

//== Base
//== Value Scales




//== Base
//

$gray-base:             #353D40		!default;
$red-base:				#E31B23 	!default;
$orange-base:			#F68A33 	!default;
$gold-base:				#FDBB30 	!default;
$yellow-base:			#FFE512 	!default;
$lt-green-base:			#C1D82F 	!default;
$green-base:			#54B948 	!default;
$lt-blue-base:			#72CDF4 	!default;
$blue-base:				#009DDC 	!default;
$dk-blue-base:			#00539B 	!default;
$purple-base:			#92278F 	!default;
$burgundy-base:			#96172E 	!default;




//== Value Scales
//

$gray-shade-50:			#1B1F20 	!default;
$gray-shade-25:			#282E30 	!default;
$gray-tint-10:			#495053 	!default;
$gray-tint-25:			#676D6F 	!default;
$gray-tint-35:			#7C8183 	!default;
$gray-tint-50:			#9A9E9F 	!default;
$gray-tint-75:			#C6C7C7 	!default;
$gray-tint-90:			#EAEBEC 	!default;
$gray-tint-92:			#EEEFEF 	!default;
$gray-tint-95:			#F5F5F5 	!default;
$gray-tint-97:			#F9F9F9 	!default;

$red-shade-25:			#AB141A 	!default;
$red-tint-25:			#EA5359 	!default;
$red-tint-50:			#F18D91 	!default;
$red-tint-95:			#FEF3F4 	!default;

$orange-shade-25:		#B96726  	!default;
$orange-tint-25:		#F8A665 	!default;
$orange-tint-50:		#FAC499 	!default;
$orange-tint-95:		#FEF3EA  	!default;

$gold-shade-25:			#B38D24 	!default;
$gold-tint-25:			#FDCC63 	!default;
$gold-tint-50:			#FEDD97 	!default;
$gold-tint-95:			#FFFCF4 	!default;

$yellow-shade-25:		#C0AB0E 	!default;
$yellow-tint-25:		#FFEA4D 	!default;
$yellow-tint-50:		#FFF288  	!default;
$yellow-tint-95:		#FFFEF3 	!default;

$lt-green-shade-25:		#90A323 	!default;
$lt-green-tint-25:		#CFE262 	!default;
$lt-green-tint-50:		#E0EB97 	!default;
$lt-green-tint-95:		#F9FBEA 	!default;

$green-shade-25:		#3F8B36 	!default;
$green-tint-25:			#7ECA75 	!default;
$green-tint-50:			#A9DCA3 	!default;
$green-tint-95:			#F6FBF6 	!default;

$lt-blue-shade-25:		#569AB8  	!default;
$lt-blue-tint-25:		#95D9F7 	!default;
$lt-blue-tint-50:		#B8E6F9 	!default;
$lt-blue-tint-95:		#F8FCFE 	!default;

$blue-shade-25:			#0075A6 	!default;
$blue-tint-25:			#3FB4E5 	!default;
$blue-tint-50:			#7FCEED 	!default;
$blue-tint-95:			#F2FAFD 	!default;

$dk-blue-shade-25:		#003E75 	!default;
$dk-blue-tint-25:		#3F7DB4 	!default;
$dk-blue-tint-50:		#7FA9CD 	!default;
$dk-blue-tint-95:		#F2F6FA  	!default;

$purple-shade-25:		#6E1D6C 	!default;
$purple-tint-25:		#AD5CAB 	!default;
$purple-tint-50:		#C893C7 	!default;
$purple-tint-95:		#F9F4F9 	!default;

$burgundy-shade-25:		#711123 	!default;
$burgundy-tint-25:		#B05062 	!default;
$burgundy-tint-50:		#CA8B96 	!default;
$burgundy-tint-95:		#FAF3F4 	!default;

