//
// Element Colors
//

//== Borders
//== Buttons




//== Borders
//

$border-radius-base:        	4px 				!default;
$border-color-base:				$gray-tint-90 		!default;
$border-color-dark:				$gray-tint-75		!default;
$border-color-light:			$gray-tint-95		!default;




//== Buttons
//

$primary-btn-color:				$green-base 		!default;
$primary-btn-outline:			$green-shade-25 	!default;

$secondary-btn-color:			$blue-base 			!default;
$secondary-btn-outline:			$blue-shade-25 		!default;

$tertiary-btn-color:			$gray-tint-90 		!default;
$tertiary-btn-outline:			$gray-tint-75 		!default;

