//
// Global Layout Variables
//

//== Max App Width
//== Menu
//== Color Bar




//== Max App Width
//

$max-app-width:		1600px				!default;


//== Menu
//

$menu-color-1:		$blue-tint-25		!default;
$menu-color-2:		$green-tint-25		!default;
$menu-color-3:		$yellow-tint-25		!default;
$menu-color-4:		$purple-tint-25		!default;
$menu-color-5:		$red-tint-25		!default;
$menu-color-6:		$orange-tint-25		!default;
$menu-color-7:		$lt-green-tint-25	!default;


//== Color Bar
//

$color-bar-1: 		$blue-base			!default;
$color-bar-2: 		$purple-base		!default;
$color-bar-3: 		$lt-green-base		!default;
$color-bar-4: 		$orange-base		!default;
$color-bar-5: 		$burgundy-base		!default;




//== Footer
//

$footer-height: 85px;
$footer-height-tablet: 62px;
$footer-height-phone: 30px;