//
// Media query breakpoints
//

//== Extra Small Screen 	/ Phone Breakpoints
//== Small Screen 			/ Tablet Breakpoints
//== Medium Screen 			/ Desktop Breakpoints
//== Large Screen 			/ Wide Desktop Breakpoints
//== Maximum Breakpoints




//== Extra Small Screen 	/ Phone Breakpoints
//

$screen-xs:                  600px 							!default;




//== Small Screen 			/ Tablet Breakpoints
//

$screen-sm:                  600px 							!default;




//== Medium Screen 			/ Desktop Breakpoints
//

$screen-md:                  900px 							!default;




//== Large Screen 			/ Wide Desktop Breakpoints
//

$screen-lg:                  1300px 						!default;




//== Maximum Breakpoints
//

$screen-xs-max:              $screen-xs - 1 			!default;
$screen-sm-max:              $screen-sm - 1 			!default;
$screen-md-max:              $screen-md - 1				!default;
