//
// Spacing
//

$spacing-base: 				10px 							!default;

$spacing-half: 				floor(($spacing-base / 2))		!default;	// 5px
$spacing-2x:				floor(($spacing-base * 2)) 		!default; 	// 20px
$spacing-3x:				floor(($spacing-base * 3)) 		!default; 	// 30px
$spacing-4x:				floor(($spacing-base * 4)) 		!default; 	// 40px
$spacing-5x:				floor(($spacing-base * 5)) 		!default; 	// 50px
