//
// Typography
//

//== Font Family
//== Font Sizes
//== Link Color
//== Text Color




//== Font Family
//

$font-family-base:  		Arial, Helvetica, sans-serif 						!default;
$font-header-base:			'TheinhardtRegular', Arial, Helvetica, sans-serif 	!default;
$font-header-light:			'TheinhardtLight', Arial, Helvetica, sans-serif 	!default;




//== Font Sizes
//

$font-size-base:          	12px 							!default;
$font-size-25:        		floor(($font-size-base * 0.83))	!default; // ~10px
$font-size-50:        		floor(($font-size-base * 0.92))	!default; // ~11px
$font-size-150:        		floor(($font-size-base * 1.083))!default; // ~13px
$font-size-200:        		floor(($font-size-base * 1.17)) !default; // ~14px
$font-size-300:				floor(($font-size-base * 1.33)) !default; // ~16px
$font-size-400:				floor(($font-size-base * 1.5)) 	!default; // ~18px
$font-size-450:				floor(($font-size-base * 1.75)) !default;
$font-size-500:				floor(($font-size-base * 2))	!default; // ~24px
$font-size-600:				floor(($font-size-base * 2.5)) 	!default; // ~30px


$font-size-h1:            	$font-size-600 					!default; // ~30px
$font-size-h2:            	$font-size-500					!default; // ~24px
$font-size-h3:            	$font-size-400				 	!default; // ~18px
$font-size-h4:            	$font-size-300 					!default; // ~16px
$font-size-h5:            	$font-size-200					!default; // ~14px
$font-size-h6:            	$font-size-base 				!default;




//== Link Color
//

$link-color:            	$blue-base 						!default;
$link-color-hover:      	$blue-shade-25  				!default;




//== Text Color
//

$text-color-base:           $gray-tint-25 					!default;
$text-color-light:			$gray-tint-50 					!default;
$text-color-red:			$red-base 						!default;
$text-color-gold:			$gold-base 						!default;
$text-color-green:			$green-base 					!default;
$text-color-dk-blue:		$dk-blue-base 					!default;
$text-color-blue:			$blue-base 						!default;
$text-color-purple:			$purple-base 					!default;

