//
// Alternate Radio Buttons
//

.alternate-radios {
	@include border-radius();
	@extend %reset-list;
	border: 1px solid $border-color-dark;
	float: left;
	overflow: hidden;
	width: auto;

	li {
		border-right: 1px solid $border-color-dark;
		float: left !important;
		font-size: 0;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
		width: auto !important;

		input {
			display: none;

			&:checked + label {
				background-color: $blue-base;
				color: #FFF;
			}
		}

		label {
			@extend %label;
			background: $gray-tint-95;
			display: inline-block !important;
			height: 2.4em;
			padding: 6px $spacing-base !important;
		}

		&:last-child { border-right: none }
	}
}

.gray-bg-tint-95 { .alternate-radios { label { background: #FFF } } }