//
// Auto Suggest
//

.auto-suggest {
	position: relative;
	z-index: 100;

	ul {
		@include border-radius();
		@include box-shadow();
		@extend .item-list;
		background: #FFF;
		border: 1px solid $border-color-dark;
		display: none;
		max-height: 15em;
		overflow: auto;
		position: absolute;
		top: 2.2em;
		width: 100%;

		li {
			&:hover {
				background-color: $interactive-color-indicator;
				cursor: pointer;
			}
		}
	}
}