//
// Base Form
//

.base-form {
	abbr { color: $alert-color-indicator }

	legend, label { color: $text-color-light }

	label { &.text-uppercase { @extend %label } }

	input:not([type="radio"]):not([type="checkbox"]), select, textarea { width: 100% }

	fieldset {
		label {
			display: block;
			margin-bottom: 0;
			padding-top: $spacing-base;
			text-align: right;

			input:not([type="radio"]):not([type="checkbox"]), select { width: auto }

			span {
				display: inline-block;
				margin-right: $spacing-half;
				padding-top: $spacing-half;
			}

			&.input-50-percent {
				input:not([type="radio"]):not([type="checkbox"]), select { width: 50% }

				.input-group {
					float: right;
					margin-left: $spacing-half;
					width: 50%;

					input:not([type="radio"]):not([type="checkbox"]) { width: 72% }

					.group-button {
						width: 28%;

						span {
							margin: 0;
							padding: 0;
						}
					}
				}
			}
		}

		&.text-left { label { text-align: left } }
	}

	ul {
		@extend %reset-list;

		li {
			float: left;
			position: relative;
			width: 100%;
		}
	}

	.input-group {
		float: left;
		width: 100%;
	}
}


// **** deprecated (Remove from SWS Quote to Order) **** //
.form {
	ul { @extend %reset-list }
	textarea { width: 100% }
}
