//
// Complex Input
//

.complex-input {
    @extend %flexbox;
    position: relative;
    white-space: nowrap;

    input:not([type="radio"]):not([type="checkbox"]) {
        @extend %input;
        border: 0 !important;

        &:focus { outline: none !important }
    }

    .text-input-container {
        @include border-left-radius();
        @include flex();
        border: 1px solid $border-color-dark;
        border-right: 0;
        display: inline-block;
        padding-top: 2px;
        /*overflow: hidden;*/

        input[type="text"] { width: 100% }
    }

    .checkbox-container {
        @include flex(0 0 auto);
        background-color: $gray-tint-95;
        border: 1px solid $border-color-dark;
        border-right: 0;
        display: inline-block;
        padding: $spacing-half $spacing-base;
        position: relative;


        label { @extend .base-label }
    }

    .dropdown-menu, .input-group {
        @include border-right-radius();
        @include flex(0 0 auto);
        background-color: #fff;
        border: 1px solid $border-color-dark;
        min-width: 100px;
    }

    .dropdown-menu {
        -webkit-appearance: none;
        padding: 7.5px $spacing-base;
        position: relative;

        .icon {
            @extend .fa-caret-down;
            float: right;
        }

        .menu {
            @include border-bottom-radius();
            @include border-right-radius();
            @include box-shadow();
            @include transition(all);
            background-color: #fff;
            border: 1px solid $border-color-dark;
            display: none;
            left: 0px;
            padding: 7.5px $spacing-base;
            position: absolute;
            top: -2px;
            width: 100%;
            z-index: 2;
        }

        &.open {

            label { display: none }

            .menu {
                @include transition(all);
                display: inline-block;

                .menu-item {
                    @include transition(all);
                    padding: $spacing-half 0;

                    &:hover { background-color: $interactive-color-indicator }
                }
            }
        }
    }

    .input-group {
        padding-top: 2px;
        position: relative;

        input:not([type="radio"]):not([type="checkbox"]) { width: 80% !important }

        .group-button {
            border: 0;
            border-left: 1px solid $border-color-dark;
            height: 2.4em;
            padding-top: 7.5px;
            width: 20%;

            &.blue-bg-base {
                color: #FFF;
                border-color: $blue-shade-25;
            }
        }

        .combo-box ul { margin-top: 37px }
    }

    &.input-size-200 {
        input:not([type="radio"]):not([type="checkbox"]) {
            font-size: $font-size-200;
            height: 2.6em;
            padding: $spacing-base;
        }

        .checkbox-container { padding-top: $spacing-base }

        .dropdown-menu { padding: $spacing-base }

        .group-button {
            height: 3em;
            padding-top: 13px;
        }

        .input-group, .text-input-container { padding-top: 0 }
    }
}
