//
// Date Picker
//

.date-picker {
  position: relative; 
  
  ul {
    @include box-shadow();
    @extend %reset-list;
    background: #FFF;
    border: 1px solid $border-color-base;
    border-radius: 4px;
    position: absolute;
    margin-top: 26px;
    top: 0 !important;
    left: calc(100% - 200px) !important;
    width: 200px;

    li {
      height: auto !important;
      list-style-type: none;
      margin: 0 !important;
      overflow: hidden;
      padding: 0 !important;
      width: 100% !important;
    }
  }

  table {
    background-color: #FFF;
    border-spacing: 0;
    padding: 0;
    width: 100%;

    th, td {
      margin: 0;
      padding: 0;

      .btn { width: 100% }
    }

    th {
      color: $text-color-light;
      font-weight: normal;

      .btn {
        background: $gray-tint-90;
        color: $text-color-base;
        font-family: $font-header-light !important;
        font-size: $font-size-200;

        i:before {
          color: $gray-tint-75;
          font-family: FontAwesome;
          font-size: $font-size-base;
          font-style: normal !important;
        }

        &.pull-left i:before {
          color: $gray-tint-50 !important;
          content: "\f053";
        }

        &.pull-right i:before {
          color: $gray-tint-50 !important;
          content: "\f054";
        }
      }

      small {
        display: block;
        padding: $spacing-half 0;
      }
    }

    td {
      height: 28px;
      width: 28px;

      .btn {
        color: $text-color-base;
        height: 28px;
        padding: 0;
      }
    }
  }

  .btn {
    background: none;
    border: none;
    color: $blue-base;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 8px;
    width: auto;

    &.active  {
      background-color: $active-color-indicator;
      color: #FFF;
    }
  }

  .btn-group {
    border-top: 1px solid $border-color-base;
    display: block;
    overflow: hidden;
    width: 100%;

    .btn { width: 50% }
    .btn-info { border-right: 1px solid $border-color-base }
  }

  .btn.btn-sm.btn-success.pull-right { display: none }

  .text-muted { color: $gray-tint-75 }
}



