//
// Inline Form
//

.inline-form {
	@extend .base-form;

	ul {
		li {
			float: left;
			margin-right: $spacing-base;
			width: auto;

			legend {
				display: inline;
				float: left;
				margin-right: $spacing-base;
				padding-top: $spacing-half;
			}

			& > .base-label {
				display: block;
				padding-top: floor(($spacing-half - 2px));
			}

			&:last-child { margin-right: 0 }
		}
	}
}