//
// Inputs
//

//== Inputs
//== Select
//== Textarea




%fieldset {
	border: none;
	margin: 0;
	padding: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-before: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-padding-after: 0;

	legend {
		-webkit-padding-start: 0;
	    -webkit-padding-end: 0;
	}
}

%field-icon {
	background-position: 2% center;
	background-repeat: no-repeat;
	padding-left: 8%;
}

%input {
	@include border-radius();
	background: #FFF;
	border: 1px solid $border-color-dark;
	color: $text-color-base;
	font: {
		family: $font-family-base;
		size: $font-size-base;
	}
	height: 2.2em;
	padding: $spacing-half;
	/*width: 100%;*/

	&.input-size-200 {
        font-size: $font-size-200;
        height: 2.6em;
        padding: $spacing-base;
	}

	&:focus { outline: 1px dotted darken($dk-blue-shade-25, 15%) }
}




//== Fieldset
//

fieldset { @extend %fieldset }




//== Inputs
//

input:not([type="radio"]):not([type="checkbox"]) {
	@extend %input;

	&.username-icon {
		@extend %field-icon;
		background-image: url('../images/icons/username.png');
	}
	&.password-icon {
		@extend %field-icon;
		background-image: url('../images/icons/password.png');
	}
}

.input-group {
	input:not([type="radio"]):not([type="checkbox"]) {
		border-bottom-right-radius: 0;
		border-right-color: $border-color-dark;
		border-top-right-radius: 0;
		float: left;
		width: 86%;
	}
	.group-button {
		@include border-right-radius();
		background: $gray-tint-95;
		border: 1px solid $border-color-dark;
		border-left: none;
		color: $text-color-light;
		float: left;
		height: 2.2em;
		padding-top: $spacing-half;
		text-align: center;
		width: 14%;
	}
}




//== Select
//

select { @extend %input }




//== Textarea
//

textarea {
	@extend %input;
	height: auto;
	resize: none;

	&.height-3-rows { height: 12.2em }
	&.height-2-rows { height: 7.4em }
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px $blue-tint-95  ;
  border: 1px solid rgba(81, 203, 238, 1);
}


//== Chrome autofill hack
//

input:-webkit-autofill, input:-webkit-autofill:focus {
	transition: all 0.2s ease;
    -webkit-box-shadow: 0 0 0 1000px $yellow-tint-95 inset;
    color: $yellow-tint-95;
}

