//
// Labels
//

//== Base Label
//== Callout Label




%label {
	color: $text-color-light;
	font-size: $font-size-50;
	text-transform: uppercase;
}




//== Base Label
//

.base-label { @extend %label }




//== Callout Label
//

.callout-label {
	@include border-radius();
	@extend %label;
	background: $gray-tint-95;
	border: 1px solid $border-color-base;
	display: inline-block;
	padding: $spacing-half $spacing-base;
	position: relative;
	text-align: right;

	.callout-label-value {
		color: $text-color-base;
		font-size: $font-size-base;
		text-transform: none;
	}

	&:before {
		@include right-triangle($spacing-half, $spacing-half, $border-color-base);
		position: absolute;
		right: floor((-$spacing-half - 1));
		top: 8px;
	}

	&:after {
		@include right-triangle($spacing-half, $spacing-half, $gray-tint-95);
		position: absolute;
		top: 8px;
		right: -$spacing-half;
		z-index: 100;
	}
}

.callout-label-data { padding: $spacing-half 0 0 $spacing-base }
