//
// Quick Action Button
//

.quick-action-button {
	@include border-radius(50%);
	color: #FFF;
	cursor: pointer;
	background: $blue-base;
	border: 1px solid;
	font: {
		family: $font-family-base;
		size: $font-size-300;
		weight: normal;
	}
	padding: $spacing-half;

	span {
		height: 1rem;
		width: 1rem;
	}

	&:focus { outline: 1px dotted $gray-tint-25 }

	+ .secondary-button, + .tertiary-button { margin-top: 2px }
}