//
// Stacked Form
//

.stacked-form {
	@extend .base-form;

	label {
		display: block;
		margin-bottom: $spacing-half;
	}

	h4, h5 { color: $dk-blue-base }

	h4 + ul { margin-top: $spacing-base }

	> ul {
		float: left;

		li { height: 5em }
	}

	li {
		&.button-only { padding-top: 1.5em }
		&.no-label { padding-top: 1.6em }

		h5 { margin-top: 2em }
	}

	legend {
		display: block;

		+ input, + select, + .alternate-radios { margin-top: $spacing-half }
	}

	fieldset {
		&.inline-labels {
			legend { margin-bottom: $spacing-half }

			.base-label {
				float: left;
				padding-right: $spacing-half;
				width: 30%;
			}

			.input-group {
				width: 67%;

				input { width: 78% }
				.group-button { width: 22% }
			}
		}
	}

	&.dark-theme {
		input:not([type="radio"]):not([type="checkbox"]) {
			background: $gray-shade-25;
			border-color: $gray-tint-25;
			color: #FFF;
			height: 2.6em;
		}
	}
}
