//
// Validation
//

//== Validation Error
//== Validation Message




//== Validation Error
//

.validation-error {
	position: relative;

	input, .group-button { border-color: $red-base !important }

	.validation-message { display: block }

	&:after {
		@extend .fa;
		@extend .#{$fa-css-prefix}-exclamation:before;
		color: $text-color-red;
		font-size: $font-size-400;		
		position: absolute;
		right: -$spacing-base;
		top: $spacing-half;
	}

	&.input-group {
		.validation-message:after { left: 5px }
	}
}




//== Validation Message
//

.validation-message {
	@include border-radius();
	background: $red-base;
	color: #FFF;
	display: none;
	font-size: $font-size-50;
	min-width: 20%;
	padding: $spacing-half;
	position: absolute;
	right: 0;
	text-align: center;
	top: -2em;

	&:after {
		@include bottom-triangle(8px, 8px, $red-base);
		bottom: -8px;
		position: absolute;
		right: 5px;
	}
}

