//
// View-only Form
//

%view-only-form {
	@extend %reset-list;
	width: 100%;

	li {
		label { @extend %label }

		.form-data { ont-size: $font-size-base }

		&.divider {
			border-bottom: 1px solid $border-color-base;
			margin-bottom: $spacing-base;
			padding-top: $spacing-base;
		}
	}

	&.label-80-percent {
		label { width: 80% }
		.form-data { width: 18% }
	}

	&.label-25-percent {
		label { width: 25% }
		.form-data { width: 73% }
	}
}

.view-only-form {
	@extend %view-only-form;

	li {
		display: table-cell;
		float: left;
		padding: $spacing-half 0;
		vertical-align: bottom;
		width: 100%;

		label { display: inline-block; width: 50% }

		.form-data {
			display: inline-block;
			text-align: right;
			width: 47%;
		}
	}
}

.padding-all {
	.view-only-form {
		li.divider {
			width: calc(100% + 20px);
			margin-left: -$spacing-base;
			margin-right: -$spacing-base;
		}
	}
}

.view-only-form-blocked {
	@extend %view-only-form;
	display: table;

	li {
		display: table-row;

		label {
			background: $gray-tint-97;
			border-bottom: 2px solid #FFF;
			display: table-cell;
			padding: $spacing-half $spacing-base;
			text-align: right;
			width: 47%;
		}

		.form-data {
			display: table-cell;
			padding-left: $spacing-base;
			width: 53%;
		}
	}
}