//
// Item List
//

.item-list {
	@extend %reset-list;

	li {
		float: none;
		height: auto !important;
		padding: $spacing-half !important;
	}
}

.item-list-bordered {
	@extend .item-list;

	li { border-bottom: 1px solid $border-color-base }
}