/* 

CustomTSA
---------------------------------------------------------

Main Page:Fathers Day
Developer: Donkey John Jr.d
Last Update: 5/12/16

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling

*/

/* Helper Classes */

body #tsaWrapper{
    background-color:#ffffff;
    width: 100%;
	}
        
#tsaWrapper .maxWidth-1220{
    max-width: 1220px;
    margin: 0 auto;
    z-index: 2;
}
#tsaWrapper .pure-g .l-box{
		box-sizing:content-box !important;
		padding:0 !important;
		border:none;
		margin-bottom:5px !important;
		}

#tsaWrapper .lh-90{
	line-height:90%;
}

#tsaWrapper .bp-15px{
	padding-bottom:15px;
	display:block;
}

#tsaWrapper .m-right5px{
	margin-right:5px;
	}
	
   #tsaWrapper .m-bottom25px{
	margin-bottom:25px;
	}
   #tsaWrapper .m-bottom50px{
	margin-bottom:50px;
	}       

#tsaWrapper .p-right5px{
	padding-right:5px;
	}
#tsaWrapper .p-left5px{
	padding-left:5px;
	}	
	
#tsaWrapper .p-right10px{
	padding-right:10px;
	}
#tsaWrapper .p-left10px{
	padding-left:10px;
	}	

#tsaWrapper .push-center{
	margin-left:auto;
	margin-right:auto;
	display:block;
	}	
	
	
#tsaWrapper .right5-bottom5{
 right:5px;
 bottom:3px;
 }

#tsaWrapper .bg-color-full {
	background:#ffffff;
	}
	
#tsaWrapper .height-350{
	height:350px;
	}
		
#tsaWrapper .nine-nine-percent{
Width: 99%;
}

#tsaWrapper .l-box h4{
margin-left:0px;
}   
    

#tsaWrapper .posC1{
top: 5%;
left: 5%;
}



/* Font Treatments */
	

 #tsaWrapper .section-header-2 {
    font-size: 2.0em;
    font-family:'open sans', Verdana, Geneva, sans-serif; 
    color:#686666; 
    border-bottom: 1px solid #686666;
    line-height: 24px;
   font-weight:800;
   text-align: left;
   margin-bottom: 30px;
   clear: left;
   padding: 30px 0px 0px;
   font-style: italic;  
}

   	
#tsaWrapper .text-style-200{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:200;
}	

#tsaWrapper .text-style-400{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:400;
}

#tsaWrapper .text-style-800{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:800;
}

#tsaWrapper .text-style:hover{
	color:#000000; 
	}

#tsaWrapper .lineheight180{
   line-height:180%;
}

#tsaWrapper .lineheight160{
   line-height:160%;
}

#tsaWrapper h1{
   font-size:2.7em;
   font-weight: 200;
   color: #555;
   font-family:'open sans', Verdana, Geneva, sans-serif; 
   padding-bottom: 15px;

}
#tsaWrapper .font-size9em{
	font-size:.98em;
	}
	
#tsaWrapper .font-size8em{
	font-size:.88em;
	}

#tsaWrapper .font-size7em{
	font-size:.7em;
	}
	
#tsaWrapper .font-size1em{
	font-size:1em;
	}	
	
#tsaWrapper .tech-copy{
    font-size: 1.3em; 
    line-height: 180%;
    font-weight: 200;
    word-break: keep-all;
    width:350px;
    float:right;
    color:#686666; 
}
#tsaWrapper .underline{
	text-decoration:underline;
}	
	

/* Custom CSS */

#tsaWrapper .tsaBlue{
    background-color: #00b0e0;
}

#tsaWrapper .tsaGreen{
    background-color: #94d500;
}

#tsaWrapper .tsaBlack{
    background-color: #000;
}

#tsaWrapper .tsaOrange{
    background-color: #ff8f12;
}


#tsaWrapper .nav-bg{
 background: #ebeaea;
 min-height: 68px;
 border-bottom: 1px #dbdbdb solid;
 
 }
 
 #tsaWrapper .nav-icon {
     padding:7px 0 2px 0;
     margin-top:0px;
     margin-right: -5px;
     opacity: .5;
     border-right: 1px solid #ccc;
 }
 
  #tsaWrapper .nav-icon:last-child {
     border-right: none;
 }

 
  #tsaWrapper .nav-icon:hover {
    opacity:1.0;
  }
  
 #tsaWrapper .intro-bg{
 background:url(http://img.ed4.net/tsa/images/Landing_Pages/2016/fathersday/intro-bg.jpg) #fff no-repeat center top;
 padding:0;
 background-size: cover;
 margin-left: -6px;
 width: 100.5%;
 min-height: 1050px;
 max-height: 2050px;
 overflow-x: hidden;
 background-position: top center;
 }
 
#tsaWrapper .fitness-bg{
 background:url(http://img.ed4.net/tsa/images/Landing_Pages/2016/fathersday/fitness-bg.jpg) #fff no-repeat center top;
 padding:0;
 background-size: cover;
 margin-left: -6px;
 width: 100.5%;
 min-height: 900px;
 max-height: 2050px;
 overflow-x: hidden;
 background-position: top center;

 }

 #tsaWrapper .golf-bg{
 background:url(http://img.ed4.net/tsa/images/Landing_Pages/2016/fathersday/golf-bg.jpg) #fff no-repeat center top;
 padding:0;
 background-size: cover;
 margin-left: -6px;
 width: 100.5%;
  min-height: 900px;
 max-height: 2050px;
 overflow-x: hidden;
 background-position: top center;


 }
 
  #tsaWrapper .outdoor-bg{
 background:url(http://img.ed4.net/tsa/images/Landing_Pages/2016/fathersday/outdoor-bg.jpg) #fff no-repeat center top;
 padding:0;
 background-size: cover;
 margin-left: -6px;
 width: 100.5%;
  min-height: 900px;
 max-height: 2050px;
 overflow-x: hidden;
 background-position: top center;

 }
 
   #tsaWrapper .backyard-bg{
 background:url(http://img.ed4.net/tsa/images/Landing_Pages/2016/fathersday/backyard-bg.jpg) #fff no-repeat center top;
 padding:0;
 background-size: cover;
 margin-left: -6px;
 width: 100.5%;
  min-height: 900px;
 max-height: 2050px;
 overflow-x: hidden;
 background-position: top center;

 }
 
  #tsaWrapper .introDad{
    bottom:0px;
    top:290px;
    position: relative;
 }
 
 #tsaWrapper .fitnessDad{
    bottom:0px;
    top:290px;
    position: relative;
 }
 
  #tsaWrapper .fitnessDad2{
    bottom:0px;
    top:15px;
    position: relative;
 }
 
  #tsaWrapper .golfDad{
    bottom:0px;
    top:15px;
    position: relative;
 }
 
 #tsaWrapper .introBlock{
     width: 42%;
     margin-left: 10%;
     margin-top:25%;
     background: #2eb8dd;
     border-radius: 2px;
     opacity: .8;
     position: relative;
 }
 
  #tsaWrapper .introBlock p{
      font-family:'open sans', Verdana, Geneva, sans-serif; 
      color:#fff; 
      font-weight:400;
      padding:15px;
      font-size: 1.5em;
      line-height:170%;
      text-align: center;
 }
 
   #tsaWrapper .introBlock span.headLine{
      font-size: 2.5em;
      font-weight:700;
      text-transform: uppercase;
      line-height:100%;
 }
 
    #tsaWrapper .introBlock .downArrow{
    margin-left: 40%;
 }
 
#tsaWrapper .copy-block {
	float:left;
        clear: both;
        display: block;
        margin: 25% 0 0 0;
        max-width: 700px;
	}

 #tsaWrapper .productArea{
     margin-top:5px; 
        }
 
   #tsaWrapper .products{
     margin-top:5px; 
        }    
        
   #tsaWrapper .marginTop15{
     margin-top:15px; 
        }     
        
 #tsaWrapper h2.dadTitle {
         font-family:'open sans', Verdana, Geneva, sans-serif;
         font-size: 2.3em;
         font-weight: 800;
         text-transform: uppercase;
         float:right;
         margin-top: 50px;
         margin-right: 5px;
         color:#fff;
 }
  #tsaWrapper .ctaButton{
    width:186px;
    padding:15px 20px;
    font-size:18px;
    border-radius:1px;  
    margin: 0 auto;
  }
    #tsaWrapper .ctaButton:hover{
    opacity: .7;
    }
  
  #tsaWrapper .ctaCopy{
      font-family:'open sans', Verdana, Geneva, sans-serif;
      color: #fff;
      font-size: 1em;
      font-weight: 700;
  }
 
  #tsaWrapper .stackedProduct{
      margin-left: 460px;
      margin-top: -175px;
  }
  
    #tsaWrapper .spacer{
     height: 60px; 
    padding-top: 10px;
     text-align: center;
      font-family:'open sans', Verdana, Geneva, sans-serif;
      color: #fff;
      font-size: 2.3em;
      text-transform: uppercase;
      font-weight: 700;
     
  }
  
  
  
 @-moz-document url-prefix() {
#tsaWrapper .stackedProduct{
      margin-left: 0px;
      margin-top: 0px; 
  }
 
 } 
  /* Parllax Code */
	
    #tsaWrapper .parallaxParent {
		//height: 100vh;
		overflow: hidden;  
	}
	    #tsaWrapper .parallaxParent > * {
		height: 200%;
		position: relative;
		bottom: -100%;
	}
        
      /* Break Points */    
      
      
@media all and (max-width: 1215px) {

    #tsaWrapper .nav-icon:nth-child(2) {
     border-right: none;
      }
      
      #tsaWrapper .intro-bg{
      min-height: 866px;
       max-height: 940px;
 

 }
 
}

@media all and (max-width: 1020px) {
  #tsaWrapper .fitnessDad2{
    display: none;
 }
 
   #tsaWrapper .golfDad{
    display: none;
 }
 
   #tsaWrapper .outdoorDad{
    display: none;
 }
 
   #tsaWrapper .backyardDad{
    display: none;
 }
}
@media all and (max-width: 925px) {

    #tsaWrapper .intro-bg{
      min-height: 830px;
      max-height: 840px;
 }
 
}

@media all and (max-width: 863px) {

      #tsaWrapper .introDad{
    display: none;
 }
     #tsaWrapper .introBlock{
    width: 80%;
 }
 
}
 
@media all and (max-width: 768px) {
 
    #tsaWrapper .nav-icon {
     padding:7px 0 2px 0;
     margin-top:0px;
     margin-right: auto;
     margin-left: auto;
     opacity: .5;
     border-right: none;
 }
  
   #tsaWrapper .stackedProduct{
      margin-left: 360px;
      margin-top: -175px;
  }

}
 