//
// Drag and Drop
//

.drag-handle {
	margin-right: $spacing-half;
	position: relative;

	&:after, &:before {
		color: $gray-tint-75;
		content: "\f142"; // fa-ellipsis-v
		display: table;
		font-family: FontAwesome;
		position: absolute;
		top: 2px;
	}

	//&:before { margin-left: -$spacing-half }
	&:after { clear: both; margin-left: $spacing-half }
}

.padding-left-2x { .drag-handle { margin-left: -$spacing-base } }

.drag-container {
	/*ul:first-of-type {
		@extend %reset-list;

		li {
			cursor: move;
			height: auto !important;
			margin: 0;
			padding: $spacing-half;
		}
	}*/
}



//== Draggable Rows within a Table
//

.draggable-rows {
	tr:hover {
		cursor: move;

		&.no-drag { cursor: default }
	}

	td:first-child {
		padding: $spacing-half 0 0 0;
		width: 5px;
	}

	&.cell-borders {
		th:first-child, td:first-child { border-right: none }
	}
}