//
// Typography
//

//== Body Text
//== Headers
//== Utilities
    //## Alignment
    //## Color
    //## Decoration
    //## Font
    //## Sizing
    //## Transform
	//## Truncate




//== Body text
//

body {
    color: $text-color-base;
    font: {
        family: $font-family-base;
        size: $font-size-base;
    }
}

p {
    line-height: 1.4em;
    margin: 0 0 $spacing-base 0;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover  { color: $link-color-hover }
}




//== Headers
//

@font-face {
    font: {
        family: 'TheinhardtLight';
        style: normal;
        weight: normal;
    }

    src: url('../fonts/arrow/theinhardt-light-webfont.eot');
    src: url('../fonts/arrow/theinhardt-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/arrow/theinhardt-light-webfont.woff') format('woff'), url('../fonts/arrow/theinhardt-light-webfont.ttf') format('truetype'), url('../fonts/arrow/theinhardt-light-webfont.svg#TheinhardtLight') format('svg');
}

@font-face {
    font: {
        family: 'TheinhardtRegular';
        style: normal;
        weight: normal;
    }

    src: url('../fonts/arrow/theinhardt-regular-webfont.eot');
    src: url('../fonts/arrow/theinhardt-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/arrow/theinhardt-regular-webfont.woff') format('woff'), url('../fonts/arrow/theinhardt-regular-webfont.ttf') format('truetype'), url('../fonts/arrow/theinhardt-regular-webfont.svg#TheinhardtRegular') format('svg');
}

@font-face {
    font: {
        family: 'TheinhardtBold';
        style: normal;
        weight: normal;
    }

    src: url('../fonts/arrow/theinhardt-bold-webfont.eot');
    src: url('../fonts/arrow/theinhardt-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/arrow/theinhardt-bold-webfont.woff') format('woff'), url('../fonts/arrow/theinhardt-bold-webfont.ttf') format('truetype'), url('../fonts/arrow/theinhardt-bold-webfont.svg#TheinhardtBold') format('svg');
}


h1, h2, h3, h4, h5, h6 {
    color: $text-color-base;
    font: {
        family: $font-header-base;
        weight: 200;
    }
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h1, h3, h4, h5 { font-family: $font-header-light }

h1, h2, h3, h4, h5, h6 {
  strong { font-family: 'TheinhardtBold', Arial, Helvetica, sans-serif }
}

h1 { font-size: $font-size-h1 }
h2 { font-size: $font-size-h2 }
h3 { font-size: $font-size-h3 }
h4 { font-size: $font-size-h4 }
h5 { font-size: $font-size-h5 }
h6 { font-size: $font-size-h6 }




//== Utilities
//

//## Alignment

.text-left 		{ text-align: 		left 				!important }
.text-right 	{ text-align: 		right 				!important }
.text-center 	{ text-align: 		center 				!important }


//## Color

.text-light 	{ color: 			$text-color-light	!important }
.text-red 		{ color: 			$text-color-red		!important }
.text-gold 		{ color: 			$text-color-gold	!important }
.text-green 	{ color: 			$text-color-green	!important }
.text-dk-blue   { color:            $text-color-dk-blue !important }
.text-blue 		{ color: 			$text-color-blue	!important }
.text-purple 	{ color: 			$text-color-purple	!important }
.text-black 	{ color: 			$gray-base         	!important }
.text-white 	{ color: 			#FFF				!important }


//## Decoration

.text-underline       { text-decoration:  underline     !important }
.text-line-through    { text-decoration:  line-through  !important }

//## Font

.text-header-font       { font-family: $font-header-base }
.text-header-font-light { font-family: $font-header-light }


//## Sizing

.text-size-50 	{ font-size: 		$font-size-50		!important }
.text-size-100 	{ font-size: 		$font-size-base		!important }
.text-size-200 	{ font-size: 		$font-size-200		!important }
.text-size-300  { font-size:        $font-size-300      !important }
.text-size-400  { font-size:        $font-size-400      !important }
.text-size-450  { font-size:        $font-size-450      !important }
.text-size-500  { font-size:        $font-size-500      !important }


//## Transform

.text-uppercase     { text-transform: 	uppercase 		!important }
.text-normal-case   { text-transform:   none            !important }


//## Truncate

.truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.no-wrap { white-space: nowrap }
