/* 

CustomTSA
---------------------------------------------------------

Main Page: Mothers Day
Developer: Donkey John Jr.
Last Update: 4/20/16

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling

*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700);

#tsaWrapper .lh-90{
	line-height:90%;
}

#tsaWrapper .bp-15px{
	padding-bottom:15px;
	display:block;
}

#tsaWrapper .m-right5px{
	margin-right:5px;
	}

#tsaWrapper .bg-color-full {
	background:#ffffff;
	
	}
	
#tsaWrapper .pure-g .l-box{
		box-sizing:content-box !important;
		padding:0 !important;
		border:none;
		margin-bottom:5px !important;
		}

   
#tsaWrapper .titleWrapper{
      position: absolute;
      z-index: 10;
      top:5%;
      left:-12px;
}              
                
   #tsaWrapper .titleBlock{
      font-family:'open sans', Verdana, Geneva, sans-serif;
      font-weight: 700;
      color:#fff; 
      font-size:2.1em;
      width: inherit;
      padding: 3px 8px 3px 50px;  
}

   #tsaWrapper .titleTop{
    width: 60%;
    margin-bottom: 5% !important;
}


                
#tsaWrapper .text-style{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#fff; 
	font-size:1.4em;
	word-break:keep-all;
}	


#tsaWrapper .text-style:hover{
	color: #ccc; 
	}

#tsaWrapper .right5-bottom5{
 right:5px;
 bottom:3px;
 }

  #tsaWrapper .mobileText{
      right:5px;
     bottom:3px;  
  }
#tsaWrapper .banner-bg-blue{
	background:#5fb4d3;
	margin-right:-10px;
	margin-left: 5px;
	
		}
	
	
	

#tsaWrapper .logo {
	background:#ffffff;
	}
	
#tsaWrapper .logo:hover {
	background:#2ba08f;
	}	


#tsaWrapper .run-bb {
	 background-color:#555; 
	 box-sizing:border-box; 
	 margin-left:5px; 
	 margin-right:6px;  
	 padding-top:5px; 
	 padding-bottom:5px; 
	
	}
#tsaWrapper .posC1{
	top: 5%;
	left: 5%;
	}


#tsaWrapper .nine-nine-percent{
	width: 99%;
		}


#tsaWrapper .titleover{
  position: absolute;
    z-index: 10;
    top: 15px;
    padding: 3px 8px 3px 35px;
    font-family:'open sans', Verdana, Geneva, sans-serif; 
    text-transform: uppercase;
    color:#fff;
    font-weight:700;
    font-size: 1.1em;
}
#tsaWrapper .saPurple{
    background: #8446ac;
}

#tsaWrapper .saBlue{
    background: #00b3e3;
}

#tsaWrapper .saGreen{
    background: #94d500;
}


#tsaWrapper .grayBorder{
    border: solid 1px #333;
    padding:0px;
    display: -moz-box;
    margin-right:12px;
    margin-left:5px;
    width: 98.5%; 
}

#tsaWrapper .grayBorder p{
    padding:0 0 0 20px;
    font-family:'open sans', Verdana, Geneva, sans-serif; 
    color:#333;
    font-weight:700;
    font-size: 1.3em;
    
}

#tsaWrapper .bannerButton{
    margin-top:10%;
    margin-left:15%;
    }

    
    
@-moz-document url-prefix() {
    #tsaWrapper .grayBorder{
    border: solid 1px #333;
    padding:5px;
    display: -moz-box;
    margin-right:12px;
    margin-left:5px;
    width: 97.5%; 
     }
  #tsaWrapper .grayBorder img{
    padding:5px;
     }

  #tsaWrapper .bannerButton{
    padding-left:25px;
    }
}

@media all and (max-width:1000px) {
       #tsaWrapper .grayBorder{
    width: 98.0%; 
     }
    #tsaWrapper .bannerButton{
    margin-top:5px;
    margin-left:1%;
    }
   
}
@media all and (max-width: 850px) {
    #tsaWrapper .grayBorder{
    display: -moz-groupbox;
     }
   

}
    
@media all and (max-width: 768px) {
#tsaWrapper .grayBorder{
    border: solid 1px #333;
    padding:0px;
    display: -moz-groupbox;
    margin-right:12px;
    margin-left:5px;
    width: 97%; 
     }
    
    
    #tsaWrapper .bannerButton{
     margin-top:1%;
    margin-left:3%; 
    }

}

@media all and (max-width: 568px) {

    
   #tsaWrapper .titleWrapper{
       position: inherit;
      z-index: 10;
} 

   #tsaWrapper .titleTop{
    width: 60%;
    margin-bottom: 5px !important;
}
    #tsaWrapper .mobileCTA{
    position: absolute;
    width: 100%;
    display: block;
    clear: both;
    
    }
    
    #tsaWrapper .right5-bottom5{
 left:-20px;
 right:27px;
 bottom:28px;
 }
  #tsaWrapper .bannerCTA{
  position: absolute;
    width: 97.5%;
    display: block;
    clear: both;
    left:0;
    margin-top:0px;
    
  }
  

}