/* SA Colours Q2 20016 - Lighter to darker*/

//Green
$sa-green:#94D500; 
$sa-green-40:#84BD01;
$sa-green-60:#6E9D01;
$sa-green-80:#5A8002;
$sa-green-100:#466501;

//Blue
$sa-blue:#00B3E3;
$sa-blue-40:#02A2CC;
$sa-blue-60:#028DB2;
$sa-blue-80:#017897;
$sa-blue-100:#015D76;

//Orange
$sa-orange:#FF8F12;
$sa-orange-40:#E17803;
$sa-orange-60:#C56902;
$sa-orange-80:#9C5301;
$sa-orange-100:#733D01;

//Yellow
$sa-yellow:#FFDD00;
$sa-yellow-40:#E9CA02;
$sa-yellow-60:#CCB102;
$sa-yellow-80:#A79102;
$sa-yellow-100:#837201;

//Pink
$sa-pink:#F55096;
$sa-pink-40:#DA3D7F;
$sa-pink-60:#CD206A;
$sa-pink-80:#B50A53;
$sa-pink-100:#950241;

//Violet
$sa-violet:#8446A6;
$sa-violet-40:#703292;
$sa-violet-60:#703292;
$sa-violet-80:#540D7C;
$sa-violet-100:#3E0160;

//Red
$sa-red:#E2231A;
$sa-red-40:#D21209;
$sa-red-60:#B60B03;
$sa-red-80:#9A0902;
$sa-red-100:#750702;

//Grey
$sa-grey:#EFEEEF;
$sa-grey-40:#D0D0D0;
$sa-grey-60:#AFAFAF;
$sa-grey-80:#8A8A8A;
$sa-grey-100:#696868;

//Black
$sa-black:#000000;

//White
$sa-white:#FFFFFF;