/*
Luke Vadaszy
Updated: 4/8/15
*/

#Bacon{
	text-align:center;
	width:100%;
	margin:0px;
	padding:0px;
}

#Bacon > h1, body > h1{
	float:left;
	width:100%;
	padding:0px;
	margin:0px;
	background-color:#99CC33;
	height:5px;
	color:white;
	display:none;
	
}

.Story{

	width:490px;
	height:289px;
	display:block;
	border:1px dashed #B9B9B9;
	border-bottom-color:#D6D6D6;
	float:left;
	border-top:solid 10px;
}

.Story h1, .tasks p{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding:0px 15px;
  margin:0px;
  text-transform: capitalize;
  font-family:Gotham, Verdana, Geneva, sans-serif;
  word-wrap: break-word;
  font-size:35px;
}

.tasks p.storyName{
	top:20px;
	transform:none;	
	font-size:12px;
	font-weight:bold;
}

.tasks{

	width:244px;
	height:298px;
	display:block;
	
	color:#666666;
	font-weight:100;
	
	text-transform: capitalize;
	float:left;
	border:1px dashed #B9B9B9;
	overflow:hidden;
	
}


.Other{

 	color:#70b500;
	border-top-color:#70b500;
}

.Emergency-Unexpected{

 	color:#f2d600;
	border-top-color:#f2d600;
}

.Dev-Tool-Utility{

 	color:#ff9f1a;
	border-top-color:#ff9f1a;
}

.HP{

 	color:#ff9f1a;
	border-top-color:#ff9f1a;
	width:244px;	
	display:block;
}

.Site{

 	color:#eb5a46;
	border-top-color:#eb5a46;
}

.Landing-Page{

	color:#89609e;
	border-top-color:#89609e;
}

.Email{

 	color:#055a8c;
	width:244px;
	display:block;
	border-top-color:#055a8c;
}

.Blue{

 	color:#055a8c;	
	display:block;
	border-top-color:#055a8c;
}

.Mockup, .Prototype{

 	color:#00c2e0;
	border-top-color:#00c2e0;
}

.Monetate{

 	color:#ff78cb;
	border-top-color:#ff78cb;
}

.Short-Turn-Around{

 	color:#4d4d4d;
	border-top-color:#4d4d4d;
}
