//
// Breadcrumbs
//

.breadcrumbs {
	@extend %reset-list;
	font-size: $font-size-50;
	overflow: hidden;

	li {
		float: left;
		margin: 0 $spacing-half;

		&:after {
			content: "/\00a0";
			color: $text-color-light;
			padding-left: $spacing-base;
		}

		&:first-child { margin-left: 0 }

		&:last-child {
			a { color: $text-color-base }

			&:after { content: '' }
		}
	}
}
