//
// Context Menu
//

td.context-menu { width: $spacing-base }

.context-menu {
	cursor: pointer;
	display: inline-block;
	position: relative;
	z-index: 400;

	> .fa { font-size: $font-size-300 }

	ul {
		@include border-radius();
		@include box-shadow();
		@extend %reset-list;
		background: #FFF;
		border: 1px solid $border-color-base;
		display: none;
		position: absolute;
		right: 0;
		width: 12em;

		li {
			&.divider { border-top: 1px solid $border-color-base }

			a {
				display: block;
				padding: $spacing-half $spacing-base;

				&:hover { background: $interactive-color-indicator }

				.fa { color: $text-color-base }
			}
		}

		&.active { display: block }
	}
}