//
// Horizontal Accordion
//

.horizontal-accordion {
	border: 1px solid $border-color-base;
	overflow: hidden;

	.accordion-section {
		@include transition(width);
		float: left;
		height: 100%;
		margin-right: 1px;
		min-width: 2.6em;
		width: 2.6em;

		.accordion-title {
			background: $gray-base;
			cursor: pointer;
			float: left;
			height: 100%;
			position: relative;
			width: 2.6em;

			h3 {
				@include rotate();
				color: #FFF;
				left: .1em;
				position: absolute;
				text-align: right;
				top: 32em;
				width: 30em;
			}

			h4 {
				color: #000;
				margin-top: $spacing-base;
				text-align: center;
			}
		}

		.accordion-summary {
			background: $gray-tint-90;
			display: none;
			float: left;
			height: 100%;
			width: 18em;
		}

		.accordion-content {
			@include transition(opacity);
			float: left;
			height: calc(100% - 30px);
			opacity: 0;
			width: calc(100% - 2.6em);
		}

		.accordion-directional-links {
			clear: right;
			margin: 0 auto;
			overflow: hidden;
			padding-top: $spacing-base;
			width: 94%;

			.previous-link { float: left }
			.next-link { float: right }
		}


		&.active {
			width: 100%;

			.accordion-title {
				background: $active-color-indicator;
				cursor: default;

				h4 { color: $blue-tint-50 }
			}

			&.section-summary-visible {
				.accordion-summary { display: inline-block }
				.accordion-content { width: calc(100% - 2.7em  - 18em) }

				@include responsive(tablet-screens) {
					.accordion-summary { width: 12em }
					.accordion-content { width: calc(100% - 2.7em  - 12em) }
				}

				@include responsive(phone-screens) {
					.accordion-summary { display: none }
					.accordion-content { width: calc(100% - 2.7em  - 2.6em) }
				}
			}
			.accordion-content { opacity: 1 }
		}

		&:first-child { .accordion-directional-links { .previous-link { display: none } } }

		&:last-child {
			margin-right: 0;

			.accordion-directional-links { .next-link { display: none } }
		}
	}

	&.two-levels {
		.accordion-section {
			max-width: calc(100% - 2.7em);

			&.active { width: calc(100% - 2.7em) }
		}
	}

	&.three-levels {
		.accordion-section {
			max-width: calc(100% - 2.7em * 2);

			&.active { width: calc(100% - 2.7em * 2) }
		}
	}
}



