//
// Horizontal Tabs
//

.horizontal-tabs {
    .tab-set {
        @extend %reset-list;
        font-size: 0;

        .tab {
            background-color: $gray-base;
            border-right: 1px solid $gray-tint-10;
            color: #FFF;
            cursor: pointer;
            display: inline-block;
            font-size: $font-size-base;
            overflow: hidden;
            padding: $spacing-half $spacing-base;
            position: relative;
            text-align: center;
            top: 1px;

            &:hover { background-color: $gray-shade-50 }

            &:first-child { border-top-left-radius: $border-radius-base }
            &:last-child { border-top-right-radius: $border-radius-base }
        }

        .active, .active:hover {
            @include border-top-radius();
            background-color: #FFF;
            border-left: 1px solid $border-color-dark;
            border-right: 1px solid $border-color-dark;
            border-top: 4px solid $active-color-indicator;
            color: $text-color-base;
            margin-top: -4px;
        }
    }

    .box-content {
        @include border-bottom-radius();
        background-color: #FFF;
        border-top-right-radius: $border-radius-base;
        border: 1px solid $border-color-dark;
        display: none;
        padding: $spacing-base;
        z-index: 2;

        &.active {
            display: block;
        }
    }
}


.horizontal-tabs-flex {
    @extend .horizontal-tabs;

    .tab-set {
        @extend %flexbox;

        .tab {
            @include flex();
            @extend %flexbox;
            @include flex-direction();
            padding: $spacing-half;
        }
    }

    .box-content { border-top-right-radius: 0 }
}
