//
// Mobile Tabs
//

%mobile-tabs {
	overflow: auto;
	width: 100%;

	ul {
		@extend %float-list;
		height: 3em;
		float: left;
		padding: $spacing-half;
		width: 100%;

		li {
			a {
				color: #FFF;
				display: block;
				margin: 0 auto;
				padding: $spacing-half $spacing-base;
				text-align: center;
				width: 80%;
			}

			&.two-lines {
				a {
					line-height: 1;
					padding: 0 $spacing-base;
				}
			}
		}
	}

	&.five-tabs {
		ul {
			width: 140%;

			li { width: 20% }
		}
	}
	&.four-tabs { li { width: 25% } }
	&.three-tabs { li { width: 33% } }
	&.two-tabs { li { width: 50% } }
	&.one-tab {
		li {
			width: 100%;

			a { width: 40% }
		}
	}
}


//## Mobile Primary

.mobile-primary-tabs {
	@extend %mobile-tabs;
	background: $gray-shade-25;

	li {
		&.active {
			a {
				border-top: 3px solid $green-base;
				margin-top: -$spacing-half;
				padding-top: floor(($spacing-half + 3px));
			}

			&.two-lines { a { padding-top: 3px } }
		}
	}
}


//## Mobile Secondary

.mobile-secondary-tabs {
	@extend %mobile-tabs;
	background: $gray-tint-10;

	li {
		width: 33%;

		a { @include border-radius() }

		&.active { a { background: $green-base } }
	}
}