//
// Vertical Tabs
//

.vertical-tabs {
	background: $gray-shade-25;
	padding: $spacing-base;

	h4, h5, h6 { color: #FFF }

	ul {
		@extend %reset-list;
		margin: 0 (-$spacing-base);

		li {
			margin: 1px 0;
			position: relative;			

			a {
				background: $gray-base;
				color: #FFF;
				display: block;
				padding: $spacing-base $spacing-base $spacing-base $spacing-3x;

				&:hover { background: $gray-shade-50 }
			}

			&.active {
				a { background: $active-color-indicator }

				&:after {
					@include left-triangle(15px, 15px, #FFF);
					content: '';
					margin-top: -15px;
					position: absolute;
					right: -1px;
					top: 50%;

					@include responsive(phone-screens) { right: -15px }
				}
			}

			&.complete {
				a {
					background: $green-base;
					padding-left: $spacing-base;

					&:before {
						@extend .fa;
						@extend .fa-check-circle;
						color: $green-tint-50;
						font-size: $font-size-200;
						margin-right: floor(($spacing-half + 2px));
					}
				}

				&.active {
					a {
						background: $active-color-indicator;

						&:before { color: $blue-tint-50 }
					}
				}
			}
		}
	}
}