//
// Content Boxes
//

//== Expand/Collapse Content Box
//== Rounded Content Box
//== Gray Content Box
//== Callout Box
//== Squared Box




//== Expand/Collapse Content Box
//

.collapsed, .expanded {
	@include transition(all);
	overflow: hidden;

	.box-title {
		cursor: pointer;
		height: 1.8em;

		.icon {
			@include transition(all);
			@extend .fa-caret-down;
			color: $gray-tint-50;
			float: left;
			font-size: $font-size-400;
			margin-right: $spacing-half;
			width: .8em;
		}
	}
}

.collapsed {
	max-height: calc(1.9em + 10px);
	padding-bottom: 0;

	.box-title { .icon { @include rotate(-90deg, 50% 50% 0) } }

	&.no-title { max-height: 0 }
}

.expanded { max-height: 200em }




//== Rounded Content Boxes
//

.rounded-content-box {
	@include border-radius();
	border: 1px solid $border-color-base;
	overflow: hidden;

	.box-title { background: $gray-tint-95 }

	&.padding-all {
		.box-title {
			margin-left: (-$spacing-base);
			margin-right: (-$spacing-base);
			margin-top: (-$spacing-base);
			padding: $spacing-half $spacing-base;
		}
	}
}




//== Gray Content Box
//

.gray-rounded-content-box {
	@extend .rounded-content-box;
	background: $gray-tint-95;
}




//== Callout Box
//

.callout-box {
	@include border-radius();
	color: #FFF;
	overflow: hidden;

	label {
		display: block;
		text-transform: uppercase;
	}

	.callout-data {
		font-family: $font-header-light;
		font-size: $font-size-300;
		display: block;
		margin-bottom: -1px;
	}

	.data-callout {
		position: relative;

		&.float-right { @include border-right-radius() }

		&.callout-half-width {
			.callout-data { width: 50% }
		}
	}

	&.padding-all-half {
		.data-callout {
			margin: -$spacing-half;
			padding: $spacing-half;
		}
	}

}

.blue-callout-box {
	@extend .callout-box;
	background: $blue-shade-25;

	.data-callout {
		background: $dk-blue-tint-25;

		&.float-right {
			text-align: right;

			:before {
				@include left-triangle(100px, 40px, $dk-blue-tint-25);
				left: -40px;
				position: absolute;
				top: -2px;
			}

			&.callout-half-width {
				:before { display: none }
			}
		}
	}
}



