//
// Lightboxes
//

//== Lightbox Container
//== Top Lightbox
//== Right Lightbox




%background-dim {
	@include transition(opacity);
	background-color: rgba(40, 46, 48, 0.7);
	height: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
}

%lightbox {
	@include border-radius();
	@include box-shadow();
	background: #FFF;
	overflow: hidden;
    padding: $spacing-2x;

	.close-lightbox {
		@extend .fa-times;
		color: $gray-tint-75;
		cursor: pointer;
		float: right;
		font-size: $font-size-400;
	}

	.lightbox-body {
		height: 80%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	h2 {
		color: $dk-blue-base;
		font-family: $font-header-light;
		font-size: $font-size-400;
		margin-bottom: $spacing-2x;
	}
}




//== Lightbox Container
//

.lightbox-container {
	@extend %background-dim;

	&.launch-lightbox {
		height: 100%;
		opacity: 1;
	}
}




//== Top Lightbox
//

.top-lightbox {
	@extend %lightbox;
	@include transition(margin-top);
	left: 50%;
	margin-left: floor((-$grid-column-8 / 2));
	margin-top: -100em;
	position: absolute;
	width: $grid-column-8;

  	&.launch-lightbox { margin-top: 100px }

  	@include responsive(laptop-screens) {
  		margin-left: floor((-$grid-column-10 / 2));
  		width: $grid-column-10;
  	}

  	@include responsive(tablet-screens) {
  		margin-left: floor((-$grid-column-12 / 2));
  		width: $grid-column-12;
  	}

  	@include responsive(phone-screens) {
  		left: 0;
  		margin-left: 0;
  		width: 100%;
  	}
}




//== Right Lightbox
//

.right-lightbox {
	@extend %lightbox;
	@include border-right-radius(0);
	@include transition(margin-right);
	float: right;
	height: 100%;
	margin-right: -1000em;

    &.launch-lightbox {
      margin-right: 0;
      z-index: 1000;

      @include responsive(phone-screens) {
      	left: 0;
      	position: absolute;
      	top: 0;
      	z-index: 100 !important;
      }

      &.second-lightbox {
      	margin-right: -2px;
      	z-index: 200;

      	@include responsive(phone-screens) {
      		z-index: 1000 !important;
      	}
      }
    }
}

