//
// Mobile Drawer
//

.mobile-drawer {
	@include transition(bottom);
	background: #FFF;
	bottom: calc(-100% + 2.8em);
	height: 100%;
	position: absolute;
	width: 100%;

	.drawer-handle {
		background: $gray-base;
		color: #FFF;
		height: 2.8em;
		padding: $spacing-half;
		text-align: center;

		.drawer-title {
			@include border-radius();
			background: $gray-tint-10;
			border-bottom: 1px solid $gray-tint-35;
			margin: 0 auto;
			padding: $spacing-half;
			width: 80%;

			.icon { @extend .fa-angle-up }
		}
	}

	&.active {
		bottom: 0;

		.drawer-title { .icon { @extend .fa-angle-down } }
	}
}