//
// Popover
//

.popover-link {
	position: relative;

	&.show-popover { .popover { display: block } }
}
.popover {
	@include border-radius();
	@include box-shadow(-1px, 1px, 5px, $gray-tint-35);
	background: $gray-tint-97;
	border: 1px solid $border-color-base;
	bottom: 148%;
	color: $text-color-base;
	display: none;
	padding: $spacing-base;
	position: absolute;
	right: -2px;
	width: 18em;
	z-index: 200;

	&:before {
		@include bottom-triangle(9px, 9px, $border-color-dark);
		bottom: -9px;
		position: absolute;
		right: floor(($spacing-half - 1px));
	}

	&:after {
		@include bottom-triangle(8px, 8px, $gray-tint-97);
		bottom: -8px;
		position: absolute;
		right: $spacing-half;
	}
}

