//
// Squared Content Boxes
//

.square-content-box {
	@include border-radius();
	border: 1px solid $border-color-base;

	img {
		display: block;
		margin: auto;
		max-width: 60%;
		max-height: 50%;
	}

	@include responsive(phone-screens) {
		img { width: 50% }
	}




	//== Extra Small Sizes
	//

	&.col-xs-4 {
		@include responsive(phone-screens) {
			@include square-box($grid-column-4);
		}
	}
	&.col-xs-6 {
		@include responsive(phone-screens) {
			@include square-box($grid-column-6);
		}
	}




	//== Small Sizes
	//

	&.col-sm-4 {
		@include responsive(tablet-screens) {
			@include square-box($grid-column-4);
		}
	}




	//== Medium Sizes
	//

	&.col-md-4 {
		@include responsive(laptop-screens) {
			@include square-box($grid-column-4);
		}
	}
	&.col-md-6 {
		@include responsive(laptop-screens) {
			@include square-box($grid-column-6);
		}
	}





	//== Large Sizes
	//

	&.col-lg-3 {
		@include responsive(desktop-screens) {
			@include square-box($grid-column-3);
		}
	}
	&.col-lg-4 {
		@include responsive(desktop-screens) {
			@include square-box($grid-column-4);
		}
	}
}
