
//== Animations
//

@mixin animation($animation) {
  -webkit-animation: $animation;
       -o-animation: $animation;
          animation: $animation;
}
@mixin animation-name($name) {
  -webkit-animation-name: $name;
          animation-name: $name;
}
@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
          animation-duration: $duration;
}
@mixin animation-timing-function($timing-function) {
  -webkit-animation-timing-function: $timing-function;
          animation-timing-function: $timing-function;
}
@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
          animation-delay: $delay;
}
@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count: $iteration-count;
          animation-iteration-count: $iteration-count;
}
@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
          animation-direction: $direction;
}
@mixin animation-fill-mode($fill-mode) {
  -webkit-animation-fill-mode: $fill-mode;
          animation-fill-mode: $fill-mode;
}


//== Rotate
//

@mixin rotate($deg: -90deg, $origin: left top 0) {
      -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
          transform: rotate($deg);
   transform-origin: $origin;
}


//== Transitions
//

@mixin transition($property, $time: .6s, $easing: ease) {
     -moz-transition: $property $time $easing;
       -o-transition: $property $time $easing;
  -webkit-transition: $property $time $easing;
          transition: $property $time $easing;
}

@mixin transition-delay($delay) {
     -moz-transition-delay: $delay;
  -webkit-transition-delay: $delay;
          transition-delay: $delay;
}
