//
// Border Radius
//

@mixin border-radius($radius: $border-radius-base) {
           -webkit-border-radius: $radius;
              -moz-border-radius: $radius;
                   border-radius: $radius;
}
@mixin border-top-radius($radius: $border-radius-base) {
  -webkit-border-top-left-radius: $radius;
 -webkit-border-top-right-radius: $radius;
      -moz-border-radius-topleft: $radius;
     -moz-border-radius-topright: $radius;
         border-top-right-radius: $radius;
          border-top-left-radius: $radius;
}
@mixin border-right-radius($radius: $border-radius-base) {
    -webkit-border-top-right-radius: $radius;
 -webkit-border-bottom-right-radius: $radius;
        -moz-border-radius-topright: $radius;
     -moz-border-radius-bottomright: $radius;
            border-top-right-radius: $radius;
         border-bottom-right-radius: $radius;
}
@mixin border-bottom-radius($radius: $border-radius-base) {
 -webkit-border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-radius-bottomright: $radius;
      -moz-border-radius-bottomleft: $radius;
         border-bottom-right-radius: $radius;
          border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius: $border-radius-base) {
     -webkit-border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
         -moz-border-radius-topleft: $radius;
      -moz-border-radius-bottomleft: $radius;
             border-top-left-radius: $radius;
          border-bottom-left-radius: $radius;
}