//
// Box Shadow
//

@mixin box-shadow($x: 0, $y: 1px, $blur: 3px, $color: $gray-tint-75) {
  -webkit-box-shadow: $x $y $blur $color;
     -moz-box-shadow: $x $y $blur $color;
          box-shadow: $x $y $blur $color;
}