// ABOUT IE 10 SUPPORT

// The syntax for IE 10 is sometimes so different from the modern flexbox
// syntax that having it in the code even if IE 10 is not currently
// a supported browser is still worthwhile. Adding it now and leaving it here
// protects the company from a possible future expansion of browser support
// backward to IE 10.

// This is especially recommended for flexbox properties, since they are for
// layout rather than decoration.


//== FLEXBOX AXIS
//
//      default (row) main-axis
//  <------------------------------>
//
//  /|\
//   |
//   |
//   |
//   |  default (row) cross-axis
//   |
//   |
//   |
//  \|/
//
//  When using column direction, the main and cross axis switch,
//  which affects some properties like align-content, align-items,
//  justify-content, and that are tied to the main or cross axis.


%flexbox {

    // FLEXBOX BROWSER SUPPORT
    // Older browsers may not support all flexbox related
    // properties. For example, many of the older browsers
    // that do support flexbox do not support flex row wrapping.

    // Older browsers may also use different property names
    // as there were significant changes to the flexbox specification
    // in 2012 that changed many property names and introduced
    // new concepts such as flex row wrapping.

    // Generally, browsers from 2011 to 2012 support *most*
    // flexbox features, and browsers after late 2012 support
    // all current flexbox features.

    // Old Webkit
    // Safari 3.1-6, iOS 3.2-6.1
    display: -webkit-box;

    // Old Mozilla
    // Firefox 2-21
    display: -moz-box;

    // Full Support using old 2011 property names
    // IE & IE Mobile 10
    display: -ms-flexbox;

    // Webkit-based browsers
    // Chrome 21-28, Safari 6.1+, iOS Safari 7.0+
    display: -webkit-flex;

    // CSS3 Official Spec
    // IE & IE Mobile 11+, Chrome 29+, Firefox 22+, Blackberry Browser 10+
    display: flex;
}


//== ALIGN-CONTENT
// http://www.w3.org/TR/css-flexbox-1/#align-content-property
// -----------------
// Positions rows or columns as objects (not the elements inside them)
// on this element's cross-axis. Only affects multi-line flex containers.
// Changes to the cross-axis via flex-direction will affect this property.
// Flex-direction row (default) sets up/down positioning.
// Flex-direction column sets horizontal positioning (left/right).
// -----------------
// Supported values:
// center, flex-end, flex-start, space-around, space-between, stretch

@mixin align-content($value: center) {
    // IE 10
    @if $value == flex-start {
        -ms-flex-line-pack: start;
    } @else if $value == flex-end {
        -ms-flex-line-pack: end;
    } @else if $value == space-around {
        -ms-flex-line-pack: distribute;
    } @else if $value == space-between {
        -ms-flex-line-pack: justify;
    } @else {
        -ms-flex-line-pack: $value;
    }

    // Safari, iOS
    -webkit-align-content: $value;
    // Spec, IE 11, Chrome, Firefox
    align-content: $value;
}


//== ALIGN-ITEMS
// http://www.w3.org/TR/css-flexbox-1/#align-items-property
// -----------------
// Positions child elements inside a single row or column in relation to
// that row or column on this element's cross-axis.
// Changes to the cross-axis via flex-direction will affect this property.
// Flex-direction row (default) sets up/down positioning.
// Flex-direction column sets horizontal positioning (left/right).
// -----------------
// Supported values:
// baseline, center, flex-end, flex-start, stretch

@mixin align-items($value: center) {
    // IE 10
    @if $value == flex-start {
        -ms-flex-align: start;
    } @else if $value == flex-end {
        -ms-flex-align: end;
    } @else {
        -ms-flex-align: $value;
    }

    // Safari, iOS
    -webkit-align-items: $value;
    // Spec, IE 11, Chrome, Firefox
    align-items: $value;
}

//== ALIGN-SELF
// http://www.w3.org/TR/css-flexbox-1/#propdef-align-self
// -----------------
// Overrides align-items and positions this element independently in the
// row or column cross-axis.
// Changes to the cross-axis via flex-direction will affect this property.
// Flex-direction row (default) sets up/down positioning.
// Flex-direction column sets horizontal positioning (left/right).
// -----------------
// Supported values:
// auto, baseline, center, flex-end, flex-start, stretch

@mixin align-self($value) {
    // IE 10
    @if $value == flex-start {
        -ms-flex-item-align: start;
    } @else if $value == flex-end {
        -ms-flex-item-align: end;
    } @else {
        -ms-flex-item-align: $value;
    }

    // Safari, iOS
    -webkit-align-self: $value;
    // Spec, IE 11, Chrome, Firefox
    align-self: $value;
}


//== FLEX
// http://www.w3.org/TR/css-flexbox-1/#propdef-flex
// -----------------
// Allows elements to grow or shrink inside a flex container.
// Elements will attempt to fill the parent flex container using the
// ratios provided here. Fixed sizes can also be set to prevent individual
// elements from growing or shrinking.
// Note that W3 does not recommend using the flex-grow, flex-shrink, and
// flex-basis properties individually. This aggregate flex property is
// recommended instead because it automatically resets unspecified components.
// -----------------
// Supported values:
// see flex-grow, flex-shrink, and flex-basis

@mixin flex($value: 1 1 auto) {
    // IE 10
    -ms-flex: $value;
    // Safari, iOS
    -webkit-flex: $value;
    // Spec, IE 11, Chrome, Firefox
    flex: $value;
}


//== FLEX-DIRECTION
// http://www.w3.org/TR/css-flexbox-1/#propdef-flex-direction
// -----------------
// Flex containers default to a left to right row flow unless an alternate
// rule is given. The most common use of this rule is to change from the
// row direction to a column.
// -----------------
// Supported values:
// column, column-reverse, row, row-reverse

@mixin flex-direction($value: column) {
    // IE 10
    -ms-flex-direction: $value;
    // Safari, iOS
    -webkit-flex-direction: $value;
    // Spec, IE 11, Chrome, Firefox
    flex-direction: $value;
}


//== FLEX-WRAP
// http://www.w3.org/TR/css-flexbox-1/#propdef-flex-wrap
// -----------------
// Flex containers are nowrap by default, so using this mixin implies
// the developer wants to wrap lines.
// -----------------
// Supported values:
// nowrap, wrap, wrap-reverse

@mixin flex-wrap($value: wrap) {
    // IE 10
    -ms-flex-wrap: $value;
    // Safari, iOS
    -webkit-flex-wrap: $value;
    // Spec, IE 11, Chrome, Firefox
    flex-wrap: $value;
}


//== JUSTIFY-CONTENT
// http://www.w3.org/TR/css-flexbox-1/#propdef-justify-content
// -----------------
// Positions child elements on this element's main-axis.
// Changes to the main-axis via flex-direction will affect this property.
// Flex-direction row (default) sets horizontal positioning (left/right).
// Flex-direction column sets up/down positioning.
// -----------------
// Supported values:
// center, flex-end, flex-start, space-around, space-between

@mixin justify-content($value: center) {
    // IE 10
    @if $value == flex-start {
        -ms-flex-pack: start;
    } @else if $value == flex-end {
        -ms-flex-pack: end;
    } @else if $value == space-around {
        -ms-flex-pack: distribute;
    } @else if $value == space-between {
        -ms-flex-pack: justify;
    } @else {
        -ms-flex-pack: $value;
    }

    // Safari, iOS
    -webkit-justify-content: $value;
    // Spec, IE 11, Chrome, Firefox
    justify-content: $value;
}


//== ORDER
// http://www.w3.org/TR/css-flexbox-1/#propdef-order
// -----------------
// Elements can be displayed in different rendering orders than their HTML
// structure dictates by using this property.
// -----------------
// Supported values:
// integer

@mixin order($value, $media-size) {
    @if $media-size == xs {
        @media (max-width: $screen-xs-max) {
            // IE 10
            -ms-flex-order: $value !important;
            // Safari, iOS
            -webkit-order: $value !important;
            // Spec, IE 11, Chrome, Firefox
            order: $value !important;
        }
    } @else if $media-size == sm {
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            // IE 10
            -ms-flex-order: $value !important;
            // Safari, iOS
            -webkit-order: $value !important;
            // Spec, IE 11, Chrome, Firefox
            order: $value !important;
        }
    } @else if $media-size == md {
        @media (min-width: $screen-md) and (max-width: $screen-md-max) {
            // IE 10
            -ms-flex-order: $value !important;
            // Safari, iOS
            -webkit-order: $value !important;
            // Spec, IE 11, Chrome, Firefox
            order: $value !important;
        }
    } @else if $media-size == lg {
        @media (min-width: $screen-lg) {
            // IE 10
            -ms-flex-order: $value !important;
            // Safari, iOS
            -webkit-order: $value !important;
            // Spec, IE 11, Chrome, Firefox
            order: $value !important;
        }
    } @else {
        // IE 10
        -ms-flex-order: $value;
        // Safari, iOS
        -webkit-order: $value;
        // Spec, IE 11, Chrome, Firefox
        order: $value;
    }
}
