//
// Gradients
//

@mixin linear-gradient($from, $to, $start: 0) {
    background-color: $to;
    background-image:    -moz-linear-gradient($from $start, $to);
    background-image:      -o-linear-gradient($from $start, $to);
    background-image:        -webkit-gradient(linear, left top, left bottom, color-stop($start, $from), color-stop(100%, $to));
    background-image: -webkit-linear-gradient($from $start, $to);
    background-image:     -ms-linear-gradient($from $start, $to);
    background-image:         linear-gradient($from $start, $to);
}

@mixin diagonal-gradient($from, $to, $start: 0) {
    background: $to;
    background:    -moz-linear-gradient(-45deg,  $from $start, $to 100%);
    background:        -webkit-gradient(linear, left top, right bottom, color-stop($start, $from), color-stop(100%, $to));
    background: -webkit-linear-gradient(-45deg, $from $start, $to 100%);
    background:      -o-linear-gradient(-45deg, $from $start, $to 100%);
    background:     -ms-linear-gradient(-45deg, $from $start, $to 100%);
    background:         linear-gradient(135deg, $from $start, $to 100%);
}

@mixin split-gradient($break: 35%, $top: $gray-shade-25, $line: $gray-tint-10, $bottom: $gray-base) {
    background: $bottom;
    background: -moz-linear-gradient(top,  $top 0%, $top $break, $line $break, $line floor(($break + 1%)), $bottom floor(($break + 1%)), $bottom 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop($break,$top), color-stop($break,$line), color-stop(floor(($break + 1%)),$line), color-stop(floor(($break + 1%)),$bottom), color-stop(100%,$bottom));
    background: -webkit-linear-gradient(top,  $top 0%,$top $break,$line $break,$line floor(($break + 1%)),$bottom floor(($break + 1%)),$bottom 100%);
    background: -o-linear-gradient(top,  $top 0%,$top $break,$line $break,$line floor(($break + 1%)),$bottom floor(($break + 1%)),$bottom 100%);
    background: -ms-linear-gradient(top,  $top 0%,$top $break,$line $break,$line floor(($break + 1%)),$bottom floor(($break + 1%)),$bottom 100%);
    background: linear-gradient(to bottom,  $top 0%,$top $break,$line $break,$line floor(($break + 1%)),$bottom floor(($break + 1%)),$bottom 100%);
}