//
// Media Queries
//

@mixin responsive($width) {
	@if $width == desktop-screens {
		@media only screen and (min-width: $screen-lg) { @content }
	}
	@else if $width == laptop-screens {
		@media only screen and (min-width: $screen-md) and (max-width: $screen-lg) { @content }
	}
	@else if $width == tablet-screens {
		@media only screen and (min-width: $screen-sm) and (max-width: $screen-md) { @content }
	}
	@else if $width == phone-screens {
		@media only screen and (max-width: $screen-xs) { @content }
	}
}