//
// Triangle
//

//== Bottom Triangle
//== Left Triangle
//== Right Triangle
//== Top Triangle




%triangle {
	border-style: solid;
	content: "";
	height: 0;
	width: 0;
}




//== Bottom Triangle
//

@mixin bottom-triangle($size-side, $size-base, $color) {
	@extend %triangle;
	border-color: $color transparent transparent transparent;
	border-width: $size-base $size-side 0 $size-side;
}




//== Left Triangle
//

@mixin left-triangle($size-side, $size-base, $color) {
	@extend %triangle;
	border-color: transparent $color transparent transparent;
	border-width: $size-side $size-base $size-side 0;
}




//== Right Triangle
//

@mixin right-triangle($size-side, $size-base, $color) {
	@extend %triangle;
	border-color: transparent transparent transparent $color;
	border-width: $size-side 0 $size-side $size-base;
}




//== Top Triangle
//

@mixin top-triangle($size-side, $size-base, $color) {
	@extend %triangle;
	border-color: transparent transparent $color transparent;
	border-width: 0 $size-side $size-base $size-side;
}

