@charset "utf-8";
/* CSS Document 
Luke-Michael Vadaszy
Melanoma
4/24/14
*/



#ContentWrapper{
	width: 780px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;	
	background-color:#f2f2f2;
}
#ContentWrapper p{
	color:#4c4e4d;
	font-family:Arial, Helvetica, sans-serif;
	
}
#ContentWrapper img{
	border:none;
}
 
#TopWrapper{
	background-color:#ffc425;
	}
	
.TopText{
	margin-left:50px;
	
	
	}	
.TopText1{
	
	color:#fff;
	font-size:35px;
	}	
	
.TopText2{
	color:#fff;
	
	font-size:45px;
	font-weight:bold;
	}
	
#CTAContainer{
	margin-top:15px;
	margin-Bottom:15px;
	background-color:#ffc425;
	display:inline-block;
	vertical-align:top;

	}	
#CTAContainer p{
	width:360px;
	
	
	}
.DTHead{
	color:#fff;
	font-weight:bold;
	font-size:30pt;
	}	
#BottomWrapper{
	
	padding-left:45px;
	padding-right:45px;
	}
#Bottom1{}
#Bottom2{}
#Bottom2 p{
	width:220px;
	//width:225px;
	display:inline-block;
	//display:inline;
	vertical-align:top;
	}
#Bottom3 p{

	text-align:center;
	}
#LogoBottom img{
	display:block; 
margin-left:auto;
margin-right:auto;
//margin-left:200px;
}

.SubHeader{
	background-image:url(images/MidLine.png);
	background-repeat:repeat-x;
	background-position:center;
	display:block;
	
	}
.SubHeader p{text-align:center;}	
.SubHeaderBack{
	background-color:#f2f2f2;
	font-size:20pt;
	font-weight:bold;
	color:#ffc425;
   //padding:5px 20px 5px 20px;

   
	}
	

.FASCTA {
	color:#ffffff;
	background-color:#ee3425;
	padding:10px;
	width:250px;
	//width:110px;
	text-decoration:none;
	margin-top:10px;
	font-size:10pt;
	//margin-bottom:10px;
	}
.FASCTA:after {	
content: url('images/Arrow.png');
}

.ClearAll{clear:both;}	
.Left{float:left;}
.Right{
	float:right;
	//float:none;
	 }
.TextRight{
	text-align:right;
	margin-right:25px;
	padding-left:10px;
	margin-top:15px;
	//margin-top:0;
	}
.MiddlePad{
	padding-left:10px;
	padding-right:10px;
	}
#Disclaimer{
	margin-top:15px;
	font-size:10pt;
	text-align:center;
	color:#4c4e4d;
	font-family:Arial, Helvetica, sans-serif;
	}
		
.BoldFont{
	font-weight:bold;	
}
.GreyFont{
	color:#7f8084 !important;
	}
.Font11{
font-size:11pt;	
}	
.Font14{
font-size:14pt;	
}
.Font17{
font-size:17pt;	
}