/* 

CustomTSA
---------------------------------------------------------

Main Page: Woman's Clothing
Developer: Final Vadaszy
Last Update: 10/15/15

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling
*/

#tsaWrapper .lh-90{
	line-height:90%;
}

#tsaWrapper .bp-15px{
	padding-bottom:15px;
	display:block;
}

#tsaWrapper .m-right5px{
	/*margin-right:2px;*/
	}

#tsaWrapper .bg-color-full {
	background:#ffffff;
	
	}

#tsaWrapper .l-box.seo-text p {
	margin-bottom: 20px; 
}	

#tsaWrapper .pure-g .l-box{
		box-sizing:content-box !important;
		padding:0 !important;
		border:none;
		margin-bottom:5px !important;
		}

#tsaWrapper .logo {
	margin: 10px auto;
	}

#tsaWrapper .cta-p5{
	top: 10%;
	right: .5%;
}

.read-more-text {
    position: relative;
    top: 0px;
    left: 0px;
    max-height: 130px;
    overflow: hidden;
    transition: max-height ease-out .5s;
}

#tsaWrapper .l-box.read-more-text p { 
  margin-bottom: 10px; 
}

.read-more-button {
    color: #ef2f1a;
    margin-left: 5px;
    cursor: pointer;
    background-color: #f7f7f7;
    padding: 5px;
    transition: ease all .25s;
}

@media all and (min-width: 653px) {
  #tsaWrapper nav li {
    float: left;
    width: 10.5%;
    text-align: center;
  }
}

@media all and (max-width: 768px) {
 #tsaWrapper .cta-button {
margin: 0;
}

#tsaWrapper .cta-p5 {
   bottom: 0;
   right: 0;
}

#tsaWrapper .pover {
   padding: 0;
}
}
