#tsaWrapper.gift-card-page .gc-header { margin-bottom: 1em; }
#tsaWrapper.gift-card-page .gc-list1 { padding-left: 1.6em; padding-right: 2em; }
#tsaWrapper.gift-card-page .gc-p1 { margin-top: 1em; margin-bottom: 1em; }
#tsaWrapper.gift-card-page .gc-hr2 { height: 0; border-top: dotted 2px #ddd; margin-top: 1em; margin-bottom: 1em; }
#tsaWrapper.gift-card-page .gc-hr1 { height: 0; border-top: dotted 2px #ddd; margin-top: 2em; }
#tsaWrapper.gift-card-page .gc-row2-cta { margin-top:2.5em; margin-left:0.9em; }
#tsaWrapper.gift-card-page .gc-left { float: left; }
#tsaWrapper.gift-card-page .gc-bulk-ul { float:right; width:42%; padding-right:1em; }
#tsaWrapper.gift-card-page .gc-bulk-ul .gc-li2 { margin-top:0.8em; }