/* 

CustomTSA
---------------------------------------------------------

Main Page: Fitness Trackers
Developer: Final Vadaszy
Last Update: 1/29/16

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling

*/
#tsaWrapper{
	display: block;
    padding-top: 10px;
    background-color: #f7f7f7;
}

/* Search CSS */


#searchItemWrapper div{
	height:150px;
}

#trackersWrapper .GThdn,#trackersWrapper .SThdn,#trackersWrapper .HRhdn,#trackersWrapper .WRhdn,#trackersWrapper .TCNhdn,#trackersWrapper .TPAhdn{
	display:none;
	visibility: hidden;
}
#tsaWrapper .searchButton{
	font-size:12px;
	background-color: #ffffff;
	border:1px solid #dadada;
	width:80px;
	height:80px;
	display: inline-block;
    float: left;
    margin: 5px;
}
#tsaWrapper .searchButton:hover,#tsaWrapper .navBTN:hover{
	background-color: #f6f8f6;
	border:1px solid #404040;
}
#tsaWrapper .navBTN{
	font-size:12px;
	background-color: #ffffff;
	border:1px solid #dadada;
	width:100px;
	height:50px;
	display: inline-block;
    float: right;
    margin: 5px;
	}
#controlBTN{
	margin-right:20px;
padding:15px;
}

#tsaWrapper .searchButton .fa{
	font-size:20px;
	color:#eaeaea;
}

#tsaWrapper .activeBTN{
	background-color: #f6f8f6;
	border:1px solid #404040;
}
#tsaWrapper .activeBTN .fa{
	color:#404040;
}


#fullModule div{
	display: inline-block;
    background-color: #ffffff;
}
#searchWrapper{

	border: 1px solid #404040;
}
#allDeviceWrapper{
	position:relative;
}
#slideWrapper{
	
    overflow-x: scroll;
    overflow-y:hidden; 
    
}
#tsaWrapper #trackersWrapper h3{
	display:none;
	width:300px;
} 
#tsaWrapper #trackersWrapper.compareIt{
	margin-left:175px;
} 
#tsaWrapper #allDeviceWrapper #allCompare{
	position:absolute;
	top:0;
	left:0;
	width:175px;
	display:none;
	z-index:100;
	float:left;
	margin-top: .65em;
	padding-top:266px;
	height:665px;
}
#tsaWrapper #allDeviceWrapper #allCompare li{
	list-style:none;
	font-size: 13px;
    height: 22px;

}
#tsaWrapper .device{

	text-align:center; 
	margin-top: 10px;
    padding-top: 10px;
    min-width: 140px;
    min-height: 253px;
}

   
    

#trackersWrapper .device .fa-star{
	display:none;
   }

.device img{
    margin:auto;
    display:block;
    max-width:125px;
    max-height:130px;
}
#tsaWrapper .compareSelected:disabled{
	color:#eaeaea;
}
#tsaWrapper .compareSelected:disabled:hover{
	color:#eaeaea;
	border:1px solid #dadada;
	background-color: #ffffff;
}
#tsaWrapper #slideWrapper #trackersWrapper .deviceCompare{
	cursor:pointer;
	font-weight:bold;
	
}
.imgContain{
	min-height:130px;
}
.deviceName{
	
	font-size:18px;
	color:#404040;
	min-height:75px;
	font-weight:bold;

}

.deviceDetails,.deviceCompare{
	
	font-size:14px;
	color:#797979;
	

}
#trackersWrapper .allData{
	display:none;
	height:925px;
}
#trackersWrapper .allData li{
	list-style:none;
}

#trackersWrapper .BS{
	font-size:12px;
	height:35px;
}
#tsaWrapper #trackersWrapper li.BSl{
	padding:5px 0;
}

#trackersWrapper .allData li:nth-child(even){
	background-color:#f7f7f7;
}
#tsaWrapper #trackersWrapper .YouTube a{
	color:#e52d27;
	
}
#tsaWrapper #trackersWrapper .YouTube{
	font-size:30px;
}
