<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html ng-app="app" flow-init
      flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1,svg:1}[$file.getExtension()]"
      flow-files-submitted="$flow.upload()">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="dist/ng-flow-standalone.js"></script>
     <script src="app.js"></script>
    <title>The Sports Authority - Template 7 - Angular.js</title>
  </head>

  <body>
    <div id="content">
    <table class="body" data-made-with-foundation="">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">
            <table class="container text-center">
              <tbody>
                <tr>
                  <td>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                  <img src="http://placehold.it/450x480/E2231A/ffffff" align="left" class="text-center" alt="Aspot"> </th>
                                <th>
                                  <img src="http://placehold.it/150x480/B60B03/ffffff" align="center" class="text-center" alt="Aspot Slice">
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-4 columns first">
                            <table>
                              <tr>
                                 <th> <img src="http://placehold.it/191x240/E2231A/ffffff" align="center" class="text-center" alt="Bspot"> </th>
                              </tr>
                            </table>
                          </th>
                           <th class="small-12 large-4 columns">
                            <table>
                              <tr>
                                <th> <img src="http://placehold.it/191x240/E2231A/ffffff" align="center" class="text-center" alt="Bspot"> </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-4 columns last">
                            <table>
                              <tr>
                                <th> <img src="http://placehold.it/191x240/E2231A/ffffff" align="center" class="text-center" alt="Bspot"> </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                   <div>
    <div class="thumbnail" ng-hide="$flow.files.length">
<!--       <img src="http://www.placehold.it/600x480/EFEFEF/AAAAAA&text=A+Spot" /> -->
    </div>
    <div class="thumbnail" ng-show="$flow.files.length">
      <img flow-img="$flow.files[0]" />
    </div>
    <div>
      <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
      <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
      <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
         ng-click="$flow.cancel()">
        Remove
      </a>
    </div>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
									<!-- Start Discount and Legal -->
                                  <p>
	                                  *The discount will automatically be applied in the cart for orders containing $39 or more. Offer valid now-4/30/16 at 11:59PM ET. Sports Authority now offers free returns in store for online purchases! Simply pack up the item as it was originally shipped, including receipt/packing slip/confirmation email and head to your nearest Sports Authority store! Offer does not apply to gift certificates, gift cards, taxes, or similar charges. Cannot be combined with Loyalty Rewards or any other offer, coupon, Employee or Friends & Family discount. This promotion is for a limited time and can be modified or terminated at any time without advance notice. Excludes clearance items marked with .7¢ price endings. Not valid on prior Sports Authority purchases, gift cards, licenses or event tickets. Offer good on in-stock merchandise only. Unqualified items include Select fitness, exercise bikes, elliptical, treadmills, home gyms, weights, benches, trampolines & accessories; select Fan Shop furniture; select camping products, canopies, scooters, table games; select fishing & hunting products; select boats; and select basketball systems; select rebounders and goals; select clearance product select outdoor furniture and coolers; select snow toys; select ski/wakeboard equipment. More exclusions may apply. Visit <a href="http://sportsauthority.com/exclusions">sportsauthority.com/exclusions </a>for details. Priority shipping will be applied for expedited orders. Offer is valid on orders shipped to one address within the continental United States. Orders shipping to Alaska, Hawaii or Puerto Rico will be charged normal shipping charges.
	                                  </p>
	                                  <!-- Start Discount and Legal -->
<!--                                   <button class="buttonSA radius-5">Click here</button> -->
                                 
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>
    </div>
    
<!--     Start Download Button -->
    <button class="buttonSA radius-5" onClick="download()">Download HTML</button>
<!--     End Download Button -->
  </body>

  

</html>
<script>
    function download(){
    var a = document.body.appendChild(
        document.createElement("a")
    );
    a.download = "template-7-export.html";
    a.href = "data:text/html," + document.getElementById("content").innerHTML;
    a.click();
}
</script>