/* 

CustomTSA
---------------------------------------------------------

Main Page: Press Page
Developer: Donkey John Jr.
Last Update: 4/25/16

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling

*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700);

#tsaWrapper .max-1220{
  min-height: 350px;
}


#tsaWrapper .lh-90{
	line-height:90%;
}

#tsaWrapper .bp-15px{
	padding-bottom:15px;
	display:block;
}

#tsaWrapper .m-right5px{
	margin-right:5px;
	}

#tsaWrapper .bg-color-full {
	background:#ffffff;
	
	}
	
#tsaWrapper .pure-g .l-box{
		box-sizing:content-box !important;
		padding:0 !important;
		border:none;
		margin-bottom:5px !important;
}

   
             
                
   #tsaWrapper .headline{
      font-family:'open sans', Verdana, Geneva, sans-serif;
      font-weight: 800;
      color:#fff; 
      font-size:2.1em;
      padding: 0 8px 0 10px; 
      margin-bottom: 50px !important;
      width: 26%; 
        box-shadow: 2px 2px 15px #888888;
}


   #tsaWrapper svg{
    fill: #555;
  

}

#tsaWrapper .mediaType{
       font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#333; 
	font-size:1.6em;
	word-break:keep-all;
        font-weight: 200;
        padding:0 10px; 
        
    
    
}          
#tsaWrapper .text-style{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#fff; 
	font-size:1.2em;
	word-break:keep-all;
        font-weight: 700;
        padding: 10px;        
        background: #555;
        border:1px solid #333;
        border-radius: 3px
       }
	


#tsaWrapper .text-style:hover{
	color: #ccc; 
	}




   #tsaWrapper .grayBorder{
    border-right: solid 1px #333 !important;
    padding:0 20px;
    margin-left: 25px;
    width: 33%
}

   #tsaWrapper .grayBoder1{
     width: 20%;
     margin-left: 190px;
   }

#tsaWrapper .pressBG {
 background:#fff ;
 padding:0;    
 height: 100%;
}

#tsaWrapper .saRed{
    background: #e2231a;
}

.hvr-sweep-to-bottom {
    text-decoration: none;
display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e2231a;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

@media all and (max-width: 1050px) {
    #tsaWrapper .headline{
      width: 35%; 
}

}

  @media all and (max-width: 791px) {
    #tsaWrapper .headline{
      width: 50%; 
}
   #tsaWrapper .grayBorder{
    border-right: solid 1px #333 !important;
    padding:0 20px 20px 20px;
    margin-left: 10px;
    width: 33%
}

}
  
  @media all and (max-width: 540px) {
    #tsaWrapper .headline{
      width: 75%; 
}
   #tsaWrapper .grayBorder{
    border-right: none!important;
    clear: both;
    display: box;
    padding:0 20px 20px 20px;
    margin-left: 10px;
    width: 100%
}
 #tsaWrapper .grayBoder1{
     width: 100%;
     padding:0 20px 20px 20px;
     margin-left: 10px;
   }

}