//
// Filters
//

.filters {
	.filter-section {
		border-bottom: 1px solid $border-color-base;
		border-top: 1px solid $border-color-base;
		padding: $spacing-base;

		h5 { margin: 0 0 $spacing-base $spacing-half }

		ul {
			max-height: 12em;
			overflow: auto;
		}

		+ .filter-section { margin-top: -1px }
	}

	ul {
		@extend %reset-list;

		li {
			label {
				@extend %label;
				display: block;
				padding: $spacing-half;
			}
		}

		&.filter-color-key {
			li {
				height: 2.8em;

				.filter-color {
					float: left;
					height: 100%;
					margin-right: $spacing-half;
					width: 7px;
				}

				label {
					span {
						@include border-radius();
						background: $gray-shade-25;
						display: inline-block;
						margin-right: $spacing-half;
						padding: 1px;
						position: relative;

						&:before {
							@include left-triangle(5px, 5px, $gray-shade-25);
							left: -5px;
							position: absolute;
							top: 5px;
						}
					}
				}
			}
		}
	}
}