@charset "utf-8";
/* CSS Document 
James Thomas
Melanoma
4/20/16
*/

body {
	background-color: #ededed;
}

.test {
	background-color: #ffc425;
}
	
.mra {
	background-color: #ededed;
}
#tsaWrapper {
	background-color: #ededed;
}
#CTAContainer1{
	background-color:#ffc425;
	float: left;
	display: -moz-inline-stack;

	}	
#CTAContainer2{
	background-color:#ffc425;
	float: right;
	display: -moz-inline-stack;
	}	
#CTAContainer p{
	padding-top: 2%;
	
	}
#CTAContainer-left{

	float: right;
}
.DTHead{
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-weight: 900;
	font-size: 30pt;
	padding-left: 32%;
	}	
#BottomWrapper{
	
	padding-left:45px;
	padding-right:45px;
	}
#Bottom1{}
#Bottom2{}
#Bottom2 p{
	width:220px;
	//width:225px;
	display:inline-block;
	display: -moz-inline-stack;
	//display:inline;
	vertical-align:top;
	}
#Bottom3 p{

	text-align:center;
	}
#LogoBottom img{
	display:block; 
margin-left:auto;
margin-right:auto;
//margin-left:200px;
}

.SubHeader{
	background-image:url(MidLine1.png);
	background-color:#ededed;
	background-repeat:repeat-x;
	background-position:center;
	display:block;
	
	}
.SubHeader p{text-align:center;}

.SubHeaderBack{
	background-color:#ededed;
	font-size:20pt;
	font-weight:bold;
	color:#ffc425;
   //padding:5px 20px 5px 20px;

   
	}
.cta-button{
	color: #ffffff;
	background-color: #ee3124;
	margin: 5px;
  	padding:10px;
	text-decoration: none;
	display: inline-block;
	display: -moz-inline-stack;
	z-index:10;
	font-family: 'Open Sans', Verdana, sans-serif; 
	font-size: 14px;
	font-weight: 600;
	}

.cta-p5{
	top: 40%;
	left: 80%;
}
.pover{
	position: absolute;
    z-index: 10;
    padding: 1em;
}

.ClearAll{clear:both;}	

.left{
	margin-left: 30%;
	margin-right: 5%;
	
}
.right{
	margin-right: 20%;

	 }
.middle {
	text-align: middle;
}
.TextRight{
	text-align:right;
	margin-right:30px;
	padding-left:10px;
	margin-top:15px;
	}
.TextLeft {
	text-align:left;
	margin-right:10px;
	padding-left:20px;
	margin-top:15px;

}

.TextCenter {
	text-align: center;

}

.EffortLine{
	margin-top: 20px;
}
.MiddlePad{
	padding-left:10px;
	padding-right:10px;
	}

.BoldFont{
	font-weight:bold;	
}
.GreyFont{
	color:#7f8084 !important;
	}
.Font11{
font-size:11pt;	
}	
.Font14{
font-size:14pt;	
}
.Font17{
font-size:17pt;	
}



@media screen and (max-width: 628px){
    #CTAContainer p {
        margin: 0;
        padding-top: 10px;
    }
    .left {
    	margin-left: 0%;
    }
    .cta-button  {
    color: #ffffff;
	background-color: #ee3124;
	margin: 1px;
  	padding:5px;
	text-decoration: none;
	display: inline-block;
	display: -moz-inline-stack;
	z-index:10;
	font-family: 'Open Sans', Verdana, sans-serif; 
	font-size: 4px;
	font-weight: 400;

    }
    .pover{
	position: absolute;
    z-index: 10;
    padding: .5em;
}
.cta-p5{
	top: 2%;
	left: 75%;
}

}
