<table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
    <tbody>
        <tr>
            <td style="font-family:Verdana,Geneva,sans-serif;color:#3f3f3f;padding:15px;background-color:#fafafa;border-top:5px solid #fff;border-bottom:5px solid #fff">
            <p>May 25, 2016</p>
            <p>Dear Customers,</p>
            <p>Sports Authority and its predecessor companies have been serving the sporting goods needs of our customers since 1919. It is with great sadness that we are intending to close all of our stores by the end of August.</p>
            <p>We will be holding store closing sales at all of our locations that will allow you to take advantage of big discounts on great brands.</p>
            <p>On behalf of the entire Sports Authority team, I would like to express our sincere appreciation to our customers for their years of loyalty. It has been a pleasure to serve you and your family.</p>
            <p>Sincerely, <br />
            <br />
            <img src="http://img.ed4.net/tsa/images/2016_Emails/0302_ImagesIII/Mike-Foss-Signature-2.jpg" alt="" width="200" height="76" class="CToWUd" /><br />
            Michael Foss<br />
            Chief Executive Officer</p>
            <br />
            <p>Upcoming deadlines for taking advantage of our customer programs:</p>
            <ul>
                <li><b>LOYALTY PROGRAM:</b> Customers&#8217; outstanding rewards will expire on May 25, 2016, at which time the League program will terminate.</li>
                <li><b>CREDIT CARDS:</b> The Sports Authority credit card can be used to make purchases through May 25, 2016, at which time it will no longer be accepted as a valid form of payment.</li>
                <li><b>WARRANTIES:</b> Existing warranties for merchandise purchased at a Sports Authority store or on SportsAuthority.com remain in effect, and Asurion will continue covering all products purchased under our extended service plans without change or interruption. For more information, please visit <a href="http://www.asurion.com/ecp" target="_blank">www.asurion.com/ecp</a>, or call toll-free at 1-866-882-8512.</li>
                <li><b>EXCHANGES/RETURNS:</b> All Sales are Final, No Exchanges, No Returns on merchandise purchased on or after
                Thursday, 5/26/16. All merchandise to be sold AS IS.</li>
                <li><b>GIFT CARDS:</b> Gift cards will be honored through <span><span>June 28, 2016</span></span>; however we are no longer selling new gift cards.</li>
            </ul>
            </td>
        </tr>
    </tbody>
</table>