@charset "utf-8";
/* CSS Document */
/*Sports Authority Homepage*/
/*created 07/01/15 by John Burrows*/
/*updated 20160428 1533  */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

*{letter-spacing:normal;}

/*overwrite GSI font size*/
body, p, td, li, span, div {font: 16px Verdana;}

/*break gsi page constraints*/
#tsa_home_slot_1, #tsa_shop_slot_1, #wrapper, #content{width:100% !important;}

body{
	background-color:#f7f7f7;
}

/*fix gap at beneath footer*/
body{background-color:#333333;}
#tsaGlobalPromo {background-color:#f7f7f7;}

#tsaWrapper{	
	padding:0px;	
	margin:0px auto;
	background-color:#f7f7f7;	
	font-family:'Open Sans', Verdana, Geneva, sans-serif;
	font-size:1em;
	border-top:solid 1px #f7f7f7;
}

.max-1220{
	max-width:1220px;
	margin-left:auto;
	margin-right:auto;
}

.sa-align-mid{
	margin:0em auto;	
}

#tsaWrapper h1, #tsaWrapper h2, #tsaWrapper h3, #tsaWrapper h4, #tsaWrapper p, #tsaWrapper a{	
	margin:0px;
	padding:0px;
	font-family:'Open Sans', Verdana, Geneva, sans-serif;
	font-weight:400;
}

img, area{
	border:none;
	outline:none;	
}
#tsaWrapper p{	
	color:#717171;
	padding:10px 5px 5px 10px;
}
#tsaWrapper .minor{
	margin:0em auto;
	float: left;
	   
}
#tsaWrapper .minor img{	
	border: solid 1px #EEECEC;
  width:100%;
	
	display:block;
	margin:auto;
}
#tsaWrapper .pure-u-md-1-3 .pure-u-1 .minor img{	
	max-width:396px;
}

#tsaWrapper .tiny-text{
	font-size:10px;	
}
#tsaWrapper a, #tsaWrapper a span{
	font-size:1em;
	color:#ee3124;
}
.no-underline, span .no-underline{
	text-decoration:none;	
}
#tsaWrapper h2 {
	font-size:1.25em;
	color:#333333;
	text-align: center;
	clear:left;
	padding:17px 0px;
	background-image:url(http://tsa.imageg.net/graphics/media/tsa/hp/template_2014/divider.gif);
	background-repeat:repeat-x;
	background-position:center top; 
}
#tsaWrapper h2 span{
	/*background-color:#f7f7f7;*/
	padding:0px 10px;

}
#tsaWrapper .no-bg{background-color:transparent;}



#tsaWrapper h3, #tsaWrapper h3 a {
	font-size:1.1em;
	color:#000000;
	text-decoration:none;
}
#tsaWrapper h3 a:hover{
	text-decoration:underline;
}




/* slider css */
#tsaMajor{margin:0px 0px 15px 0px;}
#tsaSlider{
	/*overflow:hidden;*/
}


#tsaSlider li{
	background:none;
	padding: 10px 20px;
	margin:0px;
	border-radius:0px;	
	vertical-align:middle;	
	white-space:nowrap;
  font-size:1.063em;
	color: #888;	
	font-weight: bold;
}


#tsaSlider li::after{
	content:'•';	
}


#tsaSlider.gallery { padding-bottom: 41%; }

/*major slider tabs*/
#tsaSlider>.flickity-prev-next-button.previous {
  left: -20px; 
  opacity:0.5;
   height:120px;
}
#tsaSlider>.flickity-prev-next-button.previous.hover, #tsaSlider>.flickity-prev-next-button.previous:hover, #tsaSlider:hover .flickity-prev-next-button.previous{
  left:0px;
  opacity:1 !important;
}

#tsaSlider>.flickity-prev-next-button.next {
  right: -20px;
  opacity:0.5;  
   height:120px;
}
#tsaSlider>.flickity-prev-next-button.next.hover, #tsaSlider>.flickity-prev-next-button.next:hover, #tsaSlider:hover .flickity-prev-next-button.next{
  right:0px;
  opacity:1 !important;
}

/*major arrows inside tab*/
#tsaSlider>.flickity-prev-next-button.previous svg{
  left: 40%; 
   transition:all ease-out .25s;
}
#tsaSlider>.flickity-prev-next-button.previous.hover svg, #tsaSlider>.flickity-prev-next-button.previous:hover svg, #tsaSlider:hover .flickity-prev-next-button.previous svg{
  left: 20%;
}
#tsaSlider>.flickity-prev-next-button.next svg{
  left: 0%; 
   transition:all ease-out .25s;
}
#tsaSlider>.flickity-prev-next-button.next.hover svg, #tsaSlider>.flickity-prev-next-button.next:hover svg, #tsaSlider:hover .flickity-prev-next-button.next svg{
  left: 20%;
}
#tsaSlider .is-selected{color:#ee3124 !important;}


#tsaPrivateLabel{ height:222px; }

.flickity-prev-next-button.previous {
  left: -20px;  
}
.gallery:hover .flickity-prev-next-button.previous:hover {
        opacity: 1;
    }
    .flickity-prev-next-button.next {
        right: -20px;
    }
    .gallery:hover .flickity-prev-next-button.next:hover {
        opacity: 1;
    }

.flickity-prev-next-button:disabled{opacity:0;}

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 0px 0px 5px #DEDEDE;
  opacity:0;
  transition:all ease-out .25s;
}

.gallery .flickity-viewport {
  position: absolute;
  width: 100%;
}
.gallery { height: 100%; }
.gallery:hover .flickity-prev-next-button {opacity:0.8;}

.gallery-cell { height: 100%;
	margin-right: .5em;
	position:relative; }


.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
  opacity: 1;
}

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
  opacity: 1;
}

#tsaSlider .active, #tsaWrapper a.active, #tsaSlider li:active a{color:#ee3124 !important;}

/* end slider css */

#tsaMinors1 img{max-width:396px;}

#tsaCatalog img{max-width:431px;}

#tsaBrandBar{	
	width:100%;	
	height:35px;
	overflow:hidden; 
	padding:30px 0px;
}

#tsaBrandBar div.gallery-cell{
	margin-right:0px; 	
	overflow:hidden; 
	text-align:center;
	vertical-align:middle;
	}


#tsaBrandBar .gallery-cell img{
	position:relative;
	top:-35px;
	margin:0px auto;	
}

#tsaBrandBar .gallery-cell:hover img{top:0px;}



.banner{min-height:80px;}

.banner img{padding:0px;}

#tsaExplore .l-box{padding: 0.3em 1.5em 1em 1.5em;}

#tsaExplore .list-box h3{padding-bottom:20px;}

#tsaExplore .list-box ul{
	padding:0px;
	margin:0px auto 20px;
}

#tsaExplore .list-box li{padding-bottom:9px;}

#tsaExplore .list-box li, #tsaExplore .list-box li a{	
	color:#717171;	
	white-space:nowrap;
	list-style: none;
	display:block;
	text-decoration:none;
}

#tsaExplore .list-box li a::after{
 content: "\0000a0\00BB";
 text-decoration:none !important;
}

#tsaExplore .list-box li:hover, #tsaExplore .list-box li a:hover{color:#000000;}


/* certona css */
#homejson_rr,#homejson2_rr{height:185px;position:relative; top:-25px; display:hidden;}

#homejson_rr .flickity-viewport,#homejson2_rr .flickity-viewport{height:185px;padding-top:20px;overflow:hidden;}

div.certona.gallery-cell {  margin-right: .1em;}

div.certona {
	font-family:Verdana, Geneva, sans-serif;
	display:block !important;
	float:left;
	width:150px;	
	vertical-align:top;
}

div.certona .certona-price{
	padding:0px 0px 5px 0px;   
	font-size:1em;	
}
div.certona .certona-list-price{
	color:#888888;
  text-decoration:line-through;
  font-size:.75em;
}

div.certona .certona-sale-price{color:#ed2124;}

div.certona .certona-desc {
  position:relative;
 	width:125px;
	padding:0px 0px 0px 5px;	
  font-size:.875em;
  transition: all .25s ease;
  top:20px;
  left:5px;
  max-height:55px;
  overflow:hidden;
  background-color:#ffffff;
  background-color:rgba(255,255,255,.80);  
}

div.certona:hover .certona-desc{top: -95px;}

div.certona .certona-desc a{
	color:#404040 !important;
	text-decoration:none;
  padding:0px 2px;
  display:block;
  line-height:100%;
}

div.certona .certona-desc a:hover{text-decoration:underline;}

div.certona .certona-image{
	border: solid 1px #f2f2f2;
	padding: 5px;
	background-color: white;
	position: relative;
	top: 0px;
	transition: all .25s ease;
	max-width:130px;
}

div.certona:hover img{
	box-shadow: 0px 0px 7px #e3e3e3;
	top: -20px;
}

div.certona .certona-buy-now{
	padding-bottom:5px;
	display:block;
  color: #ee3124;
}
div.certona .certona-buy-now::after {
    content: "\0000a0\00BB";    
    color: #EE3124;
  text-decoration:none !important;
}

/*services specific CSS*/

.outline-box{
    border: solid 1px #d3d3d3;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

#tsaStoreLocator img{padding-bottom:10px;}

#tsaServices a{
	padding-top:10px;
	vertical-align:text-bottom;
}

#tsaServices ul{padding: 0px 20px;}

#invodo img{
	float:left;
	padding-right:13px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* pure css customizations */
.l-box {padding:0em 0.3em 0.3em 0.3em;}

.pure-g{padding-bottom:0.8em;}

.tsa-banner div.l-box{padding-top:0.3em;}
.tsa-banner div.pure-g{padding-bottom:0em;}




/* ----- Button Classes ----- */

#tsaWrapper .pover{
	position: absolute;
	z-index:10;
}

#tsaWrapper .cta-button{
	color: #ffffff;
	margin: 5px;
  	padding:10px;
	text-decoration: none;
	display: inline-block;
	z-index:10;
	font-family: 'Open Sans', Verdana, sans-serif; 
	font-size: 14px;
	font-weight: 600;
		
}
#tsaWrapper .cta-static{
	background-color: #ee3124;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	font-family: 'Open Sans', Verdana, sans-serif; 
	font-size: 14px;
	font-weight: 600;
	margin-left: 5px;
	margin-right: 5px;
	display: block;		
}
#tsaWrapper .cta-p1{
	top: 20%;
	left: 4%;
}
#tsaWrapper .cta-p2{
	top: 20%;
	left: 29%;
}
#tsaWrapper .cta-p3{
	top: 20%;
	left: 54%;
}
#tsaWrapper .cta-p4{
	top: 20%;
	left: 79%;
}
#tsaWrapper .cta-p5{
	top: 50%;
	left: 4%;
}
#tsaWrapper .cta-p6{
	top: 50%;
	left: 29%;
}
#tsaWrapper .cta-p7{
	top: 50%;
	left: 54%;
}
#tsaWrapper .cta-p8{
	top: 50%;
	left: 79%;
}
#tsaWrapper .cta-p9{
	bottom: 10%;
	left: 4%;
}
#tsaWrapper .cta-p10{
	bottom: 10%;
	left: 29%;
}
#tsaWrapper .cta-p11{
	bottom: 10%;
	left: 54%;
}
#tsaWrapper .cta-p12{
	bottom: 10%;
	left: 79%;
}
	/* Background Colors */
#tsaWrapper .sa-white-bg{
	background-color: #ffffff;
}
#tsaWrapper .sa-red-bg{
	background-color: #ee3124;
}	
#tsaWrapper .sa-Dgray-bg{
	background-color: #404040;
}
#tsaWrapper .sa-Mgray-bg{
	background-color: #717171;
}	
#tsaWrapper .sa-Lgray-bg{
	background-color: #f7f7f7;
}
#tsaWrapper .sa-orange-bg{
	background-color: #cb6015;
}
#tsaWrapper .sa-green-bg{
	background-color: #a8ad00;
}
#tsaWrapper .sa-blue-bg{
	background-color: #007681;
}
#tsaWrapper .sa-yellow-bg{
	background-color: #eaaa00;
}

#tsaWrapper .Holiday{
	
	background:url(http://www.sportsauthority.com/graphics/media/tsa/hp/template_2015/Holiday-Background.gif) #d5eef4 no-repeat;
	background-position:center;
}

#tsaWrapper .Holiday h2{
	font-weight:bolder;
	 color:#ee2e24;
	 font-size:1.75em;
}

@media screen and (max-width: 568px) {
  .flickity-prev-next-button{display:none;}
  #tsaVideos{display:none;}
}

/* Dynamic Offer/CTA */
#tsaWrapper .dynoCTA{
	position: absolute; 
	z-index: 10;
}
#tsaWrapper .dynoCTA a{
	width:100%;
	margin: 0px auto;
}
#tsaWrapper .dynoOffer{
	position: absolute; 
	z-index: 10; 
	width:100%;
}
#tsaWrapper .baseballField{	
	background:url(http://www.sportsauthority.com/graphics/media/tsa/hp/template_2015/Baseball-Field-Background3.jpg) #4b7b56 no-repeat fixed;
	background-position:bottom center;
}

#tsaWrapper .baseballField h2{
	font-weight:bolder;
	 color:#ffffff;
	 font-size:1.75em;
}


@media screen and (max-width:569px){
	#tsaWrapper .sa-red-bg{border: 1px solid #960000;}
	#tsaWrapper .dynoCTA {
	position: initial;
	display: block;
	width: 80%;
	margin: 5px auto;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
	}
	
	#tsaWrapper h2 {padding: 10px 0px 0px 0px;}


	#tsaWrapper .dynoOffer{position: initial; display: block; width:100%;}
	#tsaWrapper .dynoOffer p,#tsaWrapper .dynoOffer a{color:#404040 !important;}
	#tsaWrapper .baseballField {background: none;}
	
	#homejson_rr, #homejson2_rr {height: 250px;}
	#homejson_rr .flickity-viewport, #homejson2_rr .flickity-viewport {height: 250px;}
	div.certona:hover img {box-shadow: 0px 0px 7px #e3e3e3; top:0px;}
	div.certona .certona-desc {top:0px; background:none;}
	div.certona:hover .certona-desc {top:0px;}
	}
}